#books-wrapper {

}

#books-wrapper .books-breadcrumb {

}

#books-wrapper .books-breadcrumb ul {
  padding: 0;
}

#books-wrapper .books-breadcrumb ul li {
  display: inline-block;
  list-style-type: none;
  color: #7a7a7a;
  margin: 0 5px;
}

#books-wrapper .books-breadcrumb ul li a {
  font-size: 11px;
  color: navy;
  font-weight: bold;
  font-style: italic;
}

#books-wrapper .books-container.list-container {

}

#books-wrapper .books-container.list-container table tr td table.discount-table {
  border: 1px solid #ccc;
  margin: auto;
}

#books-wrapper .books-container.list-container > table tr td {
  vertical-align: top;
  padding: 5px 2px;
  /*padding: 10px 5px;
  border: 1px dotted rgba(227, 191, 133, 0.51);*/
}

#books-wrapper .books-container.list-container table tr td table.discount-table tr th {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  padding: 2px 10px;
}
#books-wrapper .books-container.list-container table tr td table.discount-table tr td {
  border: none;
}


#books-wrapper .books-container.edit-container {

}

#books-wrapper .books-container.edit-container .kollage-range {
  max-width: 300px;
}

#books-wrapper .books-container.edit-container .kollage-range .ui-widget-header {
  background: #f0d3a3;
}

#books-wrapper .books-container.edit-container table tr td label {
  text-transform: none;
}

#books-wrapper .books-container.edit-container table tr td input[type='text'] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 2px;
}

#books-wrapper .books-container.edit-container table tr td input[type='checkbox'] {
  width: auto;
}

#books-wrapper .books-container.edit-container table tr td input[type='text'].discount {
  max-width: 35px;
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 5px;
}

#books-wrapper .books-container.edit-container table tr td .discount-label {
  padding: 0 5px;
  text-transform: none;
}