<div class="hidden">
	<h1>Фотокнига своими руками, photobook, принтбук<h1>
	<h2>Скачать программу фотокнига своими руками<h2>
	<h3>Готовые шаблоны фотокниг<h3>
	<h3>Доставка фотокниг по Украине<h3>
</div>
<div class="myphotobook-container">
	<div class="myphotobook-content">
		<div class="border-content">
			<div class="top-block">
				<div class="left">
					<div class="link link-1">
							<div class="link-num">
								1
							</div>
							<div class="link-text">
								<h3>Скачать программу</h3>
								<div class="block1">
									<a href="/photobook/myphotobook/Photobook_Kollage_setup-20150224.exe" class="download-prg-win" title="Программа Фотокнига своими руками для Windows. Позволит Вам легко и быстро создать макет фотокниги своими руками"></a>
									<a href="/photobook/myphotobook/Photobook_Kollage_setup-20150224.dmg" class="download-prg-mac" title="Программа Фотокнига своими руками для Mac. Позволит Вам легко и быстро создать макет фотокниги своими руками"></a>
								</div>
							</div>
					</div>
					<div class="link link-2">
							<div class="link-num">
								2
							</div>
							<div class="link-text">
								<h3>Инструкция</h3>
								<div class="block1">
									<a href="/photobook/myphotobook/myphotobook-instruction.pdf" class="download-pdf" title="Фотокнига своими руками инструкция (PDF)" target="_blank"><img src="img/pdf_icon.png" alt="Прочитать инструкцию (PDF)" /></a>
								
									<a href="#" id="video-instruction-link" onclick="return(false)" class="video-instr" title="" alt="Фотокнига своими руками видео-инструкция"><img src="img/video.png" alt="Посмотреть видео-инструкцию" /></a>
								</div>	
							</div>
						</a>
					</div>
					<div class="link link-3">
						<a href="/services/article/18/394">
							<div class="link-num">
								3
							</div>
							<div class="link-text">
								<h3>Шаблоны</h3>
								<p>Выбирете вариант готового дизайнерского решения и распределите Ваши фото в готовый шаблон.</p>
							</div>
						</a>
					</div>
				</div>	
				<div class="right">
					Оживите свои воспоминания!
				</div>
			</div>
			<div class="bottom-menu">
				<ul>
					<li><a href="/services/article/18/382">Цены</a></li>
					<li><a href="/services/article/18/392">Материалы обложек</a></li>
					<li><a href="/services/article/18/393">Тип фотокниги</a></li>
					<li><a href="/services/article/18/341">Футляры</a></li>
					<li>&nbsp;</li>
				</ul>
			</div>
		</div>
		<div class="btn-professional">
			<a href="/services/article/18/289">Профессионалам</a>
		</div>
		<div class="bottom-text">
			<a href="/services/article/18/382">Готовый макет / заказать дизайн</a>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="price-bg">
			<div class="price-block-center">
				<div class="price-block">
					<div class="price-block-top">
						от <span>45</span> грн.
						<div class="price-img"><img src="img/price_img1.png" alt="Фотожурнал (мягкий переплет)" title="Фотожурнал (мягкий переплет)" /></div>
					</div>
					<div class="price-name">
						Фотожурнал <br />(мягкий переплет)
					</div>
				</div>
				<div class="price-razdel">
					<img src="img/razdelytel_price.png" alt="" />
				</div>
				<div class="price-block">
					<div class="price-block-top">
						от <span>100</span> грн.
						<div class="price-img"><img src="img/price_img2.png" alt="Фотокнига (полиграфическая)" title="Фотокнига (полиграфическая)" /></div>
					</div>
					<div class="price-name">
						Фотокнига <br />(полиграфическая)
					</div>
				</div>
				<div class="price-razdel">
					<img src="img/razdelytel_price.png" alt="" />
				</div>
				<div class="price-block">
					<div class="price-block-top">
						от <span>270</span> грн.
						<div class="price-img"><img src="img/price_img3.png" alt="Фотокнига («мокрая» фотопечать)" title="Фотокнига («мокрая» фотопечать)" /></div>
					</div>
					<div class="price-name">
						Фотокнига <br />(«мокрая» фотопечать)
					</div>
				</div>
				<div class="price-razdel">
					<img src="img/razdelytel_price.png" alt="" />
				</div>
				<div class="price-block">
					<div class="price-block-top">
						от <span>65</span> грн.
						<div class="price-img"><img src="img/price_img4.png" alt="Фотокалендарь (А-3, 12 л. на пружине)" title="Фотокалендарь (А-3, 12 л. на пружине)" /></div>
					</div>
					<div class="price-name">
						Фотокалендарь <br />(А-3, 12 л. на пружине)
					</div>
				</div>
				<div class="clear">&nbsp;</div>
			</div>	
		</div>
	</div>
	
	<div id="dlg-video-instruction-container" class="hidden" title="Видео инструкция">
		<div id="dlg-content">
			<iframe width="560" height="315" src="//www.youtube.com/embed/g-kBJCSrj08" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	
	<div class="description">
		<p>Хотите  запечатлеть лучшие моменты своей жизни и оставить память для потомков? - печатайте фотографии, или закажите фотокнигу! А когда листаешь фотоальбом или фотокнигу, согласитесь, – совсем другие ощущения, нежели от просмотра файлов на экране монитора. </p>
		<p>Хотелось бы отдельно заострить Ваше внимание на фотокниге, как более современном варианте фотоальбома.</p>
		<p>Итак, о преимуществах: компоновка фотографий в фотокниге, в отличии от фотоальбома, произвольная. В фотокниге можно размещать фотографии любых размеров и в любой ориентации, а самое главное, есть возможность добавлять комментарии и различную графическую информацию,- рисунки, грамоты, с подложкой оригинальных фонов.</p>
		<p>Вы не дизайнер. Вы не владеете графической программой PHOTOSHOP. Вы не готовы платить за профессиональный дизайн фотокниги. Зато у Вас есть вкус, немного времени и желание создать свою фотокнигу. В этом случае мы предлагаем Вам воспользоваться бесплатной программой «ФОТОКНИГА СВОИМИ РУКАМИ», которую можно скачать на сайте студии «КОЛЛАЖ». Уделите немного времени на просмотр видеоинструкции по созданию фотокниги, и  Вы профессиональный дизайнер. А дальше - дело техники, выбираем необходимые фотографии, компоновку фотографий на странице, и все остальное сделает программа для создания фотокниг, Вам остается только реализовать свой творческий потенциал прямым «перетаскиванием» предлагаемых готовых рамок, масок, фонов и объектов на фотографии, подредактировать фото в рамках и наслаждаться плодами своего творчества. Рассмотрим другой вариант.</p>
		<p>Рассмотрим другой вариант.</p>
		<p>Вы не видите в себе художника, оплатить дизайн макета фотокниги нет возможности, - просто выберите любой понравившийся Вам шаблон фотокниги, загрузите его на свой компьютер, и он отобразится в программке «ФОТОКНИГА СВОИМИ РУКАМИ». Загружайте Ваши фотографии, и через несколько минут макет готов. Наверное, фотокнига - это дорого, скажете Вы. На самом деле это не так. Многообразие представленных студией «КОЛЛАЖ» вариантов фотокниг в различных форматах реализует пожелания самого изысканного клиента.</p>
		<p>Хотите заказать большую свадебную фотокнигу с футляром или фотокнигу на юбилей большого формата с плотными листами на основе пластика, напечатанную на шелковой фотобумаге в дорогой обложке – это один вариант, маленькая презентационная фотокнига - другой, полиграфическая фотокнига с твердой обложкой, возможно с  ламинированными страницами - третий и самый бюджетный вариант - это фотожурнал. В общем, на сегодняшний день, фраза «Я не печатаю потому, что нет денег» - это просто нежелание, либо иными словами, «отмазка».</p>
		<p>И наконец, если у Вас нет времени и желания рыться в своих архивах, или предъявляемые требования к макету фотокниги высоки, просто берите все Ваши файлы и приходите к нам, либо воспользуйтесь формой сортировки фотографий на нашем сайте при ее заказе - за Ваши деньги любой каприз.</p>
		<p>Ну а впечатления от просмотра фотокниги несомненно покроют все Ваши затраты.</p>
	</div>
	
	<script type="text/javascript">
	var pFirst = $j('.myphotobook-container .description p').first();
	var showLink = $j('<a href="#" onclick="return(false)">Читать полностью</a>').on('click', function(){
		$j(this).prev().remove();
		$j(this).remove();
		$j('.myphotobook-container .description p:not(:first-child)').show();
	});
	pFirst.append( $j('<span>... </span>') );
	pFirst.append( showLink );
	$j('.myphotobook-container .description p:not(:first-child)').hide();
	</script>
	
	<div class="bottom-barside">
		<div class="left-barside">
			<div class="left-barside-sn">
				<div class="header-left-barside-sn">Поделиться:</div>
				<a href="http://vkontakte.ru/share.php?url=http%3A%2F%2Fwww.kollage.com.ua%2Fstatic%2Fmyphotobook&amp;title=%D0%A4%D0%BE%D1%82%D0%BE%D0%BA%D0%BD%D0%B8%D0%B3%D0%B0%20%D1%81%D0%B2%D0%BE%D0%B8%D0%BC%D0%B8%20%D1%80%D1%83%D0%BA%D0%B0%D0%BC%D0%B8&amp;description=&amp;noparse=true" target="_blank" class="sn-vk vtip" title="опубликовать ссылку ВКонтакте">&#160;</a>
				<a href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=%D0%A4%D0%BE%D1%82%D0%BE%D0%BA%D0%BD%D0%B8%D0%B3%D0%B0%20%D1%81%D0%B2%D0%BE%D0%B8%D0%BC%D0%B8%20%D1%80%D1%83%D0%BA%D0%B0%D0%BC%D0%B8&amp;p[url]=http%3A%2F%2Fwww.kollage.com.ua%2Fstatic%2Fmyphotobook&amp;p[summary]=" target="_blank" class="sn-fb vtip" title="опубликовать ссылку в Facebook">&#160;</a>
				<a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.kollage.com.ua%2Fstatic%2Fmyphotobook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=700,width=600');return false;" class="sn-gl vtip" title="опубликовать ссылку Google+">&#160;</a>
			</div>
		</div>
	</div>	
	<div class="clear">&nbsp;</div>
	
	<script type="text/javascript">
		var popupDialog = $j('#dlg-video-instruction-container').dialog({
			autoOpen: false,
			resizable: false,
			minHeight: 320,
			minWidth: 590,
			modal: true,
			open: function(event, ui){
			}
		});
		$j('#video-instruction-link').click(function(){
			popupDialog.dialog('open');
		});
	</script>
</div>
