body {
  padding: 0;
  margin: 0;
  background-image: url('../../calculator/img/poligraphy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#page-wrapper {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  font-family: Arial, Helvetica;
}

#book-wrapper {
  width: 1100px;
  height: 90%;
  height: auto;
  margin: 0 auto;
  padding: 12px 0;
}

#book-calculator {
  background-color: #fff;
  border-left: 4px solid #282A2D;
  border-right: 4px solid #282A2D;
  padding: 2px 10px 20px 10px;
  margin: 0 auto;
  width: 700px;
  min-height: 700px;
  height: 100%;
  height: calc(100% - 24px);
  float: left;
  display: inline-block;
  box-sizing: border-box;
}

#book-calculator #book-calculator-header {
  border-bottom: 4px solid #282A2D;
  padding: 5px;
  margin: -2px -10px 10px -10px;
  text-align: center;
  background-image: linear-gradient(to top, #000000 0%, #bbbbbb 100%)
}

#book-calculator #book-calculator-header h1 {
  font-size: 21px;
  margin: 3px 0;
  color: #ffffff;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

#book-calculator section {

}

#book-calculator section .section-header {

}

#book-calculator section .section-header h1 {
  border-bottom: 1px solid #aaa;
  /*text-transform: uppercase;*/
  margin: 0 0 5px 0;
  font-size: 16px;
  color: navy;
}




#book-calculator section .section-body {

}

#book-calculator section .section-body .product-list {

}

#book-calculator section .section-body .product-list .product-item {
  display: inline-block;
  width: 105px;
  height: 105px;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  position: relative;
  border: 2px solid #eee;
}

#book-calculator section .section-body .product-list .product-item .product-header {

}

#book-calculator section .section-body .product-list .product-item .product-header .header-icon {
  position: absolute;
  background-size: cover;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
}

#book-calculator section .section-body .product-list .product-item .product-header .header-icon.icon-selectable {
  background-image: url('../../calculator/img/icon_selectable.png');
  display: none;
}

#book-calculator section .section-body .product-list .product-item .product-header .header-icon.icon-selected {
  background-image: url('../../calculator/img/icon_selected.png');
  display: none;
}

#book-calculator section .section-body .product-list .product-item .product-caption .product-image img {
  max-width: 100px;
  max-height: 100px;
}

#book-calculator section .section-body .product-list .product-item .product-caption {
  margin: 5px 0 0 0;
  font-size: 11px;
  padding-top: 2px;
}


#book-calculator section .section-body .product-list .product-item:hover {
  border: 2px solid orange;
  background-color: #eee;
}

#book-calculator section .section-body .product-list .product-item:hover .product-caption {
  font-weight: bold;
}

#book-calculator section .section-body .product-list .product-item:hover .product-header .header-icon.icon-selectable {
  display: block !important;
}


#book-calculator section .section-body .product-list .product-item.active {
  border: 2px solid darkorange;
}

#book-calculator section .section-body .product-list .product-item.active .product-caption {
  font-weight: bold;
}

#book-calculator section .section-body .product-list .product-item.active .product-header .header-icon.icon-selectable {
  display: none;
}

#book-calculator section .section-body .product-list .product-item.active .product-header .header-icon.icon-selected {
  display: block;
}


#book-calculator .block-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

#book-calculator .block-section .section-header h1 {
  margin: 2px 0 2px 0;
  padding: 1px 0;
  font-size: 16px;
}

#book-calculator .block-section {
  padding: 5px 10px;
  border: 1px solid #aaa;
  margin: 7px 0;
  border-radius: 10px;
  /*background-image: linear-gradient(to top, #eee 0%, #bbb 100%);*/
  background: #eee;
  box-sizing: border-box;
}

#book-calculator .section-body {
  margin-left: 15px;
}

#book-calculator .section-body .inner-section h2 {
  margin: 4px 0 5px 0;
  font-size: 14px;
  color: #333;
}

#book-calculator .section-body .inner-50 {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}


#book-calculator select::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}

#book-calculator input[type='checkbox'] {
  cursor: pointer;
}

#book-calculator input[type='radio'] {
  cursor: pointer;
}

#book-calculator select {
  width: 100%;
  cursor: pointer;
  font-style: italic;
  border: 1px solid #ccc;
  height: 25px;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../calculator/img/arrow_down.png) 99% / 7% no-repeat #fff;
  border-radius: 15px;
  padding: 2px 10px;
  outline: none;
}

#book-calculator select:-moz-focusring {
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}


#book-calculator .action-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

#book-calculator .action-icon.decrease-icon {
  background-image: url('../../calculator/img/icon_decrease.png');
}

#book-calculator .action-icon.increase-icon {
  background-image: url('../../calculator/img/icon_increase.png');
}

#book-calculator input[type='number']:invalid {
  box-shadow:none;
}

#book-calculator input[type='number'] {
  width: 75px;
  background-color: #fff;
  font-style: italic;
  min-height: 25px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding-left: 8px;
  box-shadow:none;
  border: 1px solid #ddd;
}


#book-calculator .radio-label {
  font-size: 12px;
}


#book-calculator #print-count-slider {
  margin: 10px 15px 5px 15px;
}


#book-calculator #inner-block-section {

}

#book-calculator #inner-block-section .inner-section h2 {

}

#book-calculator #inner-block-section .inner-section .inner-50 {
  margin: 5px 0;
}

#book-calculator #inner-block-section .inner-section .inner-50 select {
  font-size: 12px;
}

#book-calculator #inner-block-section .inner-section .inner-50:first-child {
  text-align: right;
  float: left;
  width: 39%;
}

#book-calculator #inner-block-section .inner-section .inner-50:last-child {
  width: 59%;
}

#book-calculator #inner-block-section .inner-section .inner-50 label {
  font-size: 10px;
  padding-right: 15px;
}

#book-calculator #color-page-count-section {
  display: none;
}


#book-calculator #prints {
  margin: 10px 0;
}

#extra-options span {
  font-size: 13px;
}



#book-price-area {
  border-right: 4px solid #282A2D;
  padding: 10px;
  background-color: #eee;
  margin: 0 auto;
  width: 400px;
  height: 100%;
  height: calc(100% - 24px);
  min-height: 700px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

#book-price-area .close-btn {
  top: -10px;
  right: -10px;
  position: absolute;
  color: #000;
  background-color: #fff;
  border-radius: 50% 50%;
  border: 3px solid #000;
  font-family: monospace;
  padding: 2px 5px;
  font-weight: bold;
  cursor: pointer;
}

#book-price-area h1 {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}


#print-count-section {
  background-color: #fff;
  padding: 0 10px;
  margin: 0 -10px;
}

#price-container {
  font-size: 12px;
}

#price-container #print-logo {
  display: block;
  height: 200px;
}

#price-container #print-logo .print-logo {
  background-position: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: 2px solid #555;
}

#price-container #print-logo .print-logo.book-print-logo {
  background-image: url('../../calculator/img/books.png');
}

#price-container #print-logo .print-logo.brochure-print-logo {
  background-image: url('../../calculator/img/brochure.jpg');
}

#price-container #print-logo .print-logo.notebook-print-logo {
  background-image: url('../../calculator/img/notebook.jpg');
}

#price-container #print-order-section .print-order-header {
  text-align: center;
}

#price-container #print-order-section .print-order-header h1 {
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 3px;
}

#price-container #print-order-section .print-order-header h2 {
  font-weight: normal;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 10px;
}

#price-container #print-order-section {
  font-family: monospace;
  background-color: #fff;
  padding: 2px 2px;
  border: 1px solid #000;
  margin-top: 20px;
}

#price-container h3 {
  text-align: center;
  font-weight: normal;
  padding-bottom: 5px;
  text-decoration: underline;
  margin: 5px 0 1px 0;
}


#price-container .price-row {
  display: inline-block;
  width: 100%;
  margin: 2px 0;
}

#price-container .price-col {
  display: inline-block;
  box-sizing: border-box;
}

#price-container .price-col:first-child {
  text-align: right;
  font-style: italic;
  padding-right: 5px;
  float: left;
  width: 58%;
}

#price-container .price-col:last-child {
  text-align: left;
  padding-left: 5px;
  float: right;
  width: 42%;
}

#price-container .price-row:last-child {
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  box-sizing: border-box;
}

#price-container .price-row:last-child .price-col:first-child {
  font-weight: bold;
}