body {
  padding: 0;
  margin: 0;
}

#page-wrapper {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  font-family: Arial, Helvetica;
}

#pb-wrapper {
  width: 1100px;
  height: 100%;
  position: relative;
}

#pb-calculator {
  background-color: #fff;
  padding: 2px 10px 20px 10px;
  margin: 0 auto;
  width: 700px;
  min-height: 700px;
  height: 100%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
}


#pb-wrapper section .section-header h1 {
  border-bottom: 1px solid #aaa;
  margin: 5px 0;
  font-size: 16px;
  color: navy;
}



#pb-wrapper section .section-body {

}

#pb-wrapper section .section-body .subsection {
  margin-left: 15px;
}

#pb-wrapper section .section-body .subsection .section-header h1 {
  font-size: 13px;
  border-bottom: 1px dotted #aaa;
}

#pb-wrapper section .section-body .product-list {

}

#pb-wrapper section .section-body .product-list .product-item {
  display: inline-block;
  width: 105px;
  height: 105px;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  position: relative;
  border: 2px solid #eee;
}
#pb-wrapper #pb-price-area section .section-body .product-list .product-item {
  width: 55px;
  height: 55px;
}

#pb-wrapper section .section-body .product-list .product-item .product-header {

}

#pb-wrapper section .section-body .product-list .product-item .product-header .header-icon {
  position: absolute;
  background-size: cover;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
}
#pb-wrapper #pb-price-area section .section-body .product-list .product-item .product-header .header-icon {
  top: -7px;
  left: -7px;
  width: 15px;
  height: 15px;
}

#pb-wrapper section .section-body .product-list .product-item .product-header .header-icon.icon-selectable {
  background-image: url('../../calculator/img/icon_selectable.png');
  display: none;
}

#pb-wrapper section .section-body .product-list .product-item .product-header .header-icon.icon-selected {
  background-image: url('../../calculator/img/icon_selected.png');
  display: none;
}

#pb-wrapper section .section-body .product-list .product-item .product-caption .product-image img {
  max-width: 100px;
  max-height: 100px;
}
#pb-wrapper #pb-price-area section .section-body .product-list .product-item .product-caption .product-image img {
  max-width: 50px;
  max-height: 50px;
}


#pb-wrapper section .section-body .product-list .product-item .product-caption {
  margin: 5px 0 0 0;
  font-size: 11px;
  padding-top: 2px;
}


#pb-wrapper section .section-body .product-list .product-item:hover {
  border: 2px solid orange;
  background-color: #eee;
}

#pb-wrapper section .section-body .product-list .product-item:hover .product-caption {
  font-weight: bold;
}

#pb-wrapper section .section-body .product-list .product-item:hover .product-header .header-icon.icon-selectable {
  display: block !important;
}


#pb-wrapper section .section-body .product-list .product-item.active {
  border: 2px solid darkorange;
}

#pb-wrapper section .section-body .product-list .product-item.active .product-caption {
  font-weight: bold;
}

#pb-wrapper section .section-body .product-list .product-item.active .product-header .header-icon.icon-selectable {
  display: none;
}

#pb-wrapper section .section-body .product-list .product-item.active .product-header .header-icon.icon-selected {
  display: block;
}


#pb-calculator .block-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

#pb-calculator .block-section .section-header h1 {
  margin: 2px 0 2px 0;
  padding: 1px 0;
  font-size: 16px;
}

#pb-calculator .block-section {
  padding: 5px 10px;
  border: 1px solid #aaa;
  margin: 7px 0;
  border-radius: 10px;
  /*background-image: linear-gradient(to top, #eee 0%, #bbb 100%);*/
  background: #eee;
  box-sizing: border-box;
}

#pb-calculator .section-body {
  margin-left: 15px;
}

#pb-calculator .section-body .inner-section h2 {
  margin: 4px 0 5px 0;
  font-size: 14px;
  color: #333;
}

#pb-calculator .section-body .inner-50 {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}


#pb-calculator select::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}

#pb-calculator input[type='checkbox'] {
  cursor: pointer;
}

#pb-calculator input[type='radio'] {
  cursor: pointer;
}

#pb-calculator select {
  width: 100%;
  cursor: pointer;
  font-style: italic;
  border: 1px solid #ccc;
  height: 25px;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../calculator/img/arrow_down.png) 99% / 7% no-repeat #fff;
  border-radius: 15px;
  padding: 2px 10px;
  outline: none;
}

#pb-calculator select:-moz-focusring {
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}


#pb-calculator .action-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

#pb-calculator .action-icon.decrease-icon {
  background-image: url('../../calculator/img/icon_decrease.png');
}

#pb-calculator .action-icon.increase-icon {
  background-image: url('../../calculator/img/icon_increase.png');
}

#pb-calculator input[type='number']:invalid {
  box-shadow:none;
}

#pb-calculator input[type='number'] {
  width: 75px;
  background-color: #fff;
  font-style: italic;
  min-height: 25px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding-left: 8px;
  box-shadow:none;
  border: 1px solid #ddd;
}


#pb-calculator .radio-label {
  font-size: 12px;
}


#pb-calculator #print-count-slider {
  margin: 10px 15px 5px 15px;
}


#pb-calculator #inner-block-section {

}

#pb-calculator #inner-block-section .inner-section h2 {

}

#pb-calculator #inner-block-section .inner-section .inner-50 {
  margin: 5px 0;
}

#pb-calculator #inner-block-section .inner-section .inner-50 select {
  font-size: 12px;
}

#pb-calculator #inner-block-section .inner-section .inner-50:first-child {
  text-align: right;
  float: left;
  width: 39%;
}

#pb-calculator #inner-block-section .inner-section .inner-50:last-child {
  width: 59%;
}

#pb-calculator #inner-block-section .inner-section .inner-50 label {
  font-size: 10px;
  padding-right: 15px;
}

#pb-calculator #color-page-count-section {
  display: none;
}


#pb-calculator #prints {
  margin: 10px 0;
}

#extra-options span {
  font-size: 13px;
}



#pb-price-area {
  //border-right: 4px solid #282A2D;
  padding: 0 10px 10px 10px;
  background-color: #fff;
  margin: 0 auto;
  width: 400px;
  height: 100%;
  min-height: 700px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-left: 1px dashed #ccc;
}

#pb-price-area h1 {
  font-size: 17px;
  margin: 5px 0;
  text-align: left;
  color: navy;
  text-decoration: none;
}

#pb-price-area #currency-section {
  text-align: center;
}


#pb-price-area #img-preview-section .preview-container {
  height: 200px;
  background-size: 100% 100%;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-repeat: no-repeat;
}


#print-count-section {
  background-color: #fff;
  padding: 0 10px;
  margin: 0 -10px;
}

#price-container {
  font-size: 12px;
}

#price-container #print-logo {
  display: block;
  height: 200px;
}

#price-container #print-logo .print-logo {
  background-position: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: 2px solid #555;
}

#price-container #print-logo .print-logo.book-print-logo {
  background-image: url('../../calculator/img/books.png');
}

#price-container #print-logo .print-logo.brochure-print-logo {
  background-image: url('../../calculator/img/brochure.jpg');
}

#price-container #print-logo .print-logo.notebook-print-logo {
  background-image: url('../../calculator/img/notebook.jpg');
}

#price-container #print-order-section .print-order-header {
  text-align: center;
}

#price-container #print-order-section .print-order-header h1 {
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 3px;
}

#price-container #print-order-section .print-order-header h2 {
  font-weight: normal;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 10px;
}

#price-container #print-order-section {
  font-family: monospace;
  background-color: #fff;
  padding: 2px 2px;
  border: 1px solid #000;
  margin-top: 20px;
}

#price-container h3 {
  text-align: center;
  font-weight: normal;
  padding-bottom: 5px;
  text-decoration: underline;
  margin: 5px 0 1px 0;
}


#price-container .price-row {
  display: inline-block;
  width: 100%;
  margin: 2px 0;
}

#price-container .price-col {
  display: inline-block;
  box-sizing: border-box;
}

#price-container .price-col:first-child {
  text-align: right;
  font-style: italic;
  padding-right: 5px;
  float: left;
  width: 58%;
}

#price-container .price-col:last-child {
  text-align: left;
  padding-left: 5px;
  float: right;
  width: 42%;
}

#price-container .price-row:last-child {
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  box-sizing: border-box;
}

#price-container .price-row:last-child .price-col:first-child {
  font-weight: bold;
}


#pb-prices {
  display: block;
  margin-top: 20px;
}

#pb-prices .row {
  display: block;
  padding: 5px 0;
}

#pb-prices .col-50 {
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
}

#pb-prices .col-50:first-child {
  text-align: right;
  padding-right: 10px;
  float: left;
}

#pb-prices .col-50:last-child {
  text-align: left;
  padding-left: 10px;
}

#pb-prices > .row:last-child .col-50 {
  font-size: larger;
}

#pb-prices > .row:last-child .col-50:first-child {
  font-weight: bold;
}