{.section item}
<div class="product-grid-item">
	<div class="product-info">
		<div>
			<div class="title">{name}</div>
			<a href="#" onclick="return false" rel="{id}" class="btn-add-to-compare vtip" title="Добавить данный товар к списку сравнения"></a>
			<a href="#" onclick="return false" rel="{id}" class="btn-added-to-compare vtip" style="display:none" title="Данный товар уже находится в списке сравнения"></a>
			<div class="clear-both"></div>
		</div>
		<div class="picture"></div>
		<div class="price">{priceFormatted}</div>
		<div class="availability-yes">Наличие: <span class="green">есть</span></div>
		<div class="availability-no">Наличие: <span class="red">*под заказ</span></div>
		<div>
			<a href="/shop/product/{id}" class="goto-details">Подробнее &raquo;</a>
			<div class="sn">
				<a href="http://vkontakte.ru/share.php?url={share.url}&title={share.title}&description=&noparse=true" target="_blank" class="sn-vk vtip" title="опубликовать ссылку ВКонтакте"></a>
				<a href="http://www.facebook.com/sharer.php?s=100&p[title]={share.title}&p[url]={share.url}&p[summary]=" target="_blank" class="sn-fb vtip" title="опубликовать ссылку в Facebook"></a>
				<a href="https://plus.google.com/share?url={share.url}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=700,width=600');return false;" class="sn-gl vtip" title="опубликовать ссылку Google+"></a>
			</div>
		</div>
	</div>
	<div class="product-button">
		<div class="btn-buy-now" rel="{id}"></div>
	</div>
</div>
{.end}