{.section item}
<tr class="product-list-item">
	<td class="centered">
		<div class="number">{number}</div>
	</td>
	<td class="actions">
	</td>
	<td>
		<div class="title">{name}</div>
	</td>
	<td class="new-action-etc centered">
	</td>
	<td class="centered">
		<div class="price">{priceFormatted}</div>
	</td>
	<td class="centered">
		<div class="availability-yes"><span class="green">есть</span></div>
		<div class="availability-no"><span class="red">*под заказ</span></div>
	</td>
	<td class="centered">
		<a href="/shop/product/{id}" class="goto-details">Подробнее &raquo;</a>
	</td>
</tr>
{.end} 