/*css*/
.myphotobook-container .myphotobook-content .border-content  .top-block .right {
	float: right;
	margin-top: 10px;
	width: 60%;
	height: 50px;
	background: url("../img/bg_top_text.png") no-repeat;
	font-family: arial;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
}
.myphotobook-container .myphotobook-content .border-content  .bottom-menu  .bottom-menu-content {
	width: 710px;
	margin: 0 auto;
}
.myphotobook-container .myphotobook-content .border-content  .bottom-menu .bottom-menu-content  a{
	display: block;
	float: left;
	margin: 0 10px;
	font-family: zrnic_cyr, arial;
	font-size: 24px;
	color: #fce864;
}
.myphotobook-container .myphotobook-content .bottom-text {
	margin-top: 3px;
	width: 60%;
	height: 48px;
	background: url("../img/bg_bottom_text.png") no-repeat;
	font-family: arial;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
	float: right;
}
.myphotobook-container .myphotobook-content .price-bg  .price-block-center {
	width: 750px;
}
.myphotobook-container .myphotobook-content .price-bg .price-block {
	width: 160px;
}
.myphotobook-container .myphotobook-content .price-bg .price-razdel {
	margin: 27px 12px;
}
