/*css*/
.myphotobook-container .clear {
	float: none;
	clear: both;
	font-size: 2px;
}
.myphotobook-container {
	max-width: 960px;
	min-width: 780px;
	margin: 1em auto 1em auto;
}
.myphotobook-container .myphotobook-content {
	width: 100%;
}	
.myphotobook-container .myphotobook-content .border-content {
	width: 954;
	border: 2px solid #474747;
	padding: 1px;
}
.myphotobook-container .myphotobook-content .border-content .top-block {
	max-width: 954px;
	width: 100%;
	height: 357px;
	background: url("../img/bg_main.png") no-repeat;
	background-position: right;
	padding-top: 1px;
}
.myphotobook-container .myphotobook-content .border-content  .top-block  .left {
	width: 305px;
	float: left;
}
.myphotobook-container .myphotobook-content .border-content  .top-block .left .link {
	width: 305px;
	height: 106px;
	margin-top: 11px;
}
.myphotobook-container .myphotobook-content .border-content  .top-block .left .link a{
	display: block;
	height: 100%;
}
.myphotobook-container .myphotobook-content .border-content  .top-block  .left .link-1{
	background: url("../img/1.png") no-repeat;
}
.myphotobook-container .myphotobook-content .border-content  .top-block  .left .link-2{
	background: url("../img/2.png") no-repeat;
}
.myphotobook-container .myphotobook-content  .border-content .top-block  .left .link-3{
	background: url("../img/3.png") no-repeat;
}
.myphotobook-container .myphotobook-content .border-content .top-block  .left .link .link-num {
	width: 65px;
	margin-top: 17px;
	margin-left: 20px;
	font-family: zrnic_cyr, arial;
	font-size: 72px;
	color: #ffffff;
	float: left;
} 
.myphotobook-container .myphotobook-content .border-content  .top-block .left .link .link-text  {
	width: 210px;
	float: left;
} 
.myphotobook-container .myphotobook-content .border-content .top-block .left .link .link-text .block1 {
	text-align: center;
}
.myphotobook-container .myphotobook-content .border-content .top-block .left .link .link-text .block1 a.download-prg-mac {
	margin-bottom: 1px;
}
.myphotobook-container .myphotobook-content .border-content  .top-block .left  .link .link-text p {
	font-family: arial;
	font-size: 12px;
	color: #ffffff;
	margin: 0;
	line-height: 100%;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}
.myphotobook-container .myphotobook-content .border-content  .top-block .left  .link .link-text p a {
	font-family: arial;
	font-size: 12px;
	color: #ffffff;
	margin: 0;
	line-height: 115%;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}
.myphotobook-container .myphotobook-content .border-content  .top-block .left  .link .link-text  h3 {
	margin: 8px 0 6px;
	font-family: zrnic_cyr, arial;
	font-size: 24px;
	color: #ffffff;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.myphotobook-container .myphotobook-content .border-content  .top-block .right {
	float: right;
	margin-top: 10px;
	max-width: 606px;
	width: 100%;
	height: 50px;
	background: url("../img/bg_top_text.png") no-repeat;
	font-family: arial;
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
}
.myphotobook-container .myphotobook-content .border-content  .bottom-menu {
	max-width: 100%;
	height: 46px;
	background: url("../img/bg_bottom_menu.png") no-repeat;
	text-align: center;
	line-height: 46px;
}
.myphotobook-container .myphotobook-content .border-content  .bottom-menu ul {
	margin: 0;
}
.myphotobook-container .myphotobook-content .border-content  .bottom-menu ul li {
	display: inline-block;
	padding: 0 0 0 22px;
	margin: 0 0 0 12px;
	background: url(../img/marker.png) no-repeat left center;
}
.myphotobook-container .myphotobook-content .border-content  .bottom-menu ul li a {
	font-family: Arial, sans-serif;
	font-size: 1.375em;
	color: #fce864;
}
.myphotobook-container .myphotobook-content .bottom-text, 
.myphotobook-container .myphotobook-content .btn-professional {
	margin: 20px 0;
	height: 48px;
	font-family: arial;
	font-size: 26px;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
	text-shadow: 1px 2px 2px rgba(15, 15, 15, 1);
}
.myphotobook-container .myphotobook-content .btn-professional {
	background: url("../img/bg_bottom_text_left.png") no-repeat;
	width: 336px;
	float: left;
}
.myphotobook-container .myphotobook-content .bottom-text {
	background: url("../img/bg_bottom_text.png") no-repeat;
	max-width: 612px;
	width: 100%;
	float: right;
}
.myphotobook-container .myphotobook-content .bottom-text a,
.myphotobook-container .myphotobook-content .btn-professional a {
	color: #ffffff;
	text-decoration: none;
}
.myphotobook-container .myphotobook-content .price-bg {
	max-width: 960px;
	background: #dedede; 
    background: linear-gradient(to top, #cccccc, #eeeeee);
	border: 1px solid #cacaca;
	margin-top: 2px;
}
.myphotobook-container .myphotobook-content .price-bg  .price-block-center {
	max-width: 880px;
	margin: 0 auto;
}
.myphotobook-container .myphotobook-content .price-bg .price-block {
	width: 180px;
	margin-top: 14px;
	float: left;
}
.myphotobook-container .myphotobook-content .price-bg .price-block  .price-block-top{
	width: 100%;
	height: 112px;
	background: #ffffff;
	border: 1px solid #cacaca;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font-family: zrnic_cyr, arial;
	font-size: 24px;
	color: #000000;
	text-align: center;
}
.myphotobook-container .myphotobook-content .price-bg .price-block  .price-block-top span{
	font-size: 28px;
	color: #fd3d3d;
}
.myphotobook-container .myphotobook-content .price-bg .price-block  .price-name {
	font-family: arial;
	font-size: 11px;
	color: #000000;
	text-align: center;
	margin-top: 3px;
}
.myphotobook-container .myphotobook-content .price-bg .price-razdel {
	float: left;
	margin: 27px 20px;
}
.page-wrapper .page .myphotobook-container #video-instruction {
	margin: 60px auto;
	width: 560px;
}
.myphotobook-container .myphotobook-content .border-content .top-block .left .link a.download-prg-win {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/win.png) no-repeat;
	margin-right: 10px;
}

.myphotobook-container .myphotobook-content .border-content .top-block .left .link a.download-prg-mac {
	display: inline-block;
	width: 35px;
	height: 41px;
	background: url(../img/mac.png) no-repeat;
	margin-right: 10px;
}
.myphotobook-container .myphotobook-content .border-content .top-block .left .link a.download-pdf {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.myphotobook-container .myphotobook-content .border-content .top-block .left .link a.download-pdf img {
	width: 40px;
}
.myphotobook-container .myphotobook-content .border-content .top-block .left .link a.video-instr{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.myphotobook-container .myphotobook-content .border-content .top-block .left .link a.video-instr{
	width: 40px;
}

@media screen and (max-width:940px) {
	.myphotobook-container .myphotobook-content .border-content  .top-block .right {
		width: 55%;
		font-size: 22px;
	}
	.myphotobook-container .myphotobook-content .border-content  .bottom-menu .bottom-menu-content  a{
		font-size: 26px;
	}
	.myphotobook-container .myphotobook-content .border-content  .bottom-menu .bottom-menu-content {
		width: 760px;
	}
	.myphotobook-container .myphotobook-content .bottom-text {
		width: 55%;
		font-size: 22px;
	}
	.myphotobook-container .myphotobook-content .price-bg  .price-block-center {
		width: 750px;
	}
	.myphotobook-container .myphotobook-content .price-bg .price-block {
		width: 160px;
	}
	.myphotobook-container .myphotobook-content .price-bg .price-razdel {
		margin: 27px 12px;
	}
}