<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Calculator</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/pb-calculator.css?version=1.043"/>

    <!-- JS -->
    <!-- jQuery dependencies -->
    <script src="js/lib/jquery/jquery-1.12.4.js"></script>
    <!-- Angular dependencies -->
    <script src="js/lib/angular/angular.js"></script>

    <!-- Custom JS -->
    <script src="js/app/app.js?version=1.043"></script>
    <script src="js/app/controllers/pb-calc-controller.js?version=1.043"></script>
    <script src="js/app/services/pb-calc-service.js?version=1.043"></script>


    <script type="text/javascript">

    </script>

</head>
<body style="padding: 0; margin: 0;">

<div id="page-wrapper">
    <div id="pb-wrapper" ng-controller="pbCalcCtrl as pb">
        <div id="pb-calculator">

            <!--==================== PrintBook Type Selection ====================-->
            <section id="type-section">
                <div class="section-header">
                    <h1>Тип фотокниги</h1>
                </div>
                <div class="section-body">
                    <div id="pb-types" class="product-list">

                        <div ng-repeat="pbType in pb.pbTypes"
                             ng-class="pbType.id == pb.pbTypeId ? 'active': ''" class="product-item"
                             ng-click="pb.chosePbType(pbType.id)"
                        >

                            <div class="product-header">
                                <div class="header-icon icon-selectable"></div>
                                <div class="header-icon icon-selected"></div>
                            </div>
                            <div class="product-image">
                                <img width="70" height="80" ng-src="{{pbType.image}}" />
                            </div>
                            <div class="product-caption">{{pbType.name}}</div>

                        </div>

                    </div>
                </div>
            </section>

            <!--==================== PrintBook Format Selection ====================-->
            <section id="format-section">
                <div class="section-header">
                    <h1>Формат фотокниги</h1>
                </div>
                <div class="section-body">
                    <div id="pb-formats" class="product-list">

                        <div ng-repeat="pbFormat in pb.pbFormats"
                             ng-class="pbFormat.id == pb.pbFormatId ? 'active': ''" class="product-item"
                             ng-click="pb.chosePbFormat(pbFormat.id)"
                        >
                            <div class="product-header">
                                <div class="header-icon icon-selectable"></div>
                                <div class="header-icon icon-selected"></div>
                            </div>
                            <div class="product-image">
                                <img height="90" ng-src="{{pb.serverUrl}}/data/{{pbFormat.image}}"/>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

            <!--==================== Pages/Prints Count Selection ====================-->
            <section id="pages-section">
                <div class="section-header">
                    <h1>Экземпляры/страницы</h1>
                </div>
                <div class="section-body">
                    <div>
                        <div id="pb-pages-section" class="inner-section inner-50">
                            <h2>Количество страниц</h2>
                            <div id="pb-pages" class="dropdown-list">
                                <select id="pb-pages-select"
                                        ng-model="pb.pageCount"
                                        ng-options="pageCount as pageCount for pageCount in pb.pageCounts">
                                </select>
                            </div>
                        </div>
                        <div id="pb-count-section" class="inner-section inner-50">
                            <h2>Количество экземпляров</h2>
                            <div id="pb-counts" class="dropdown-list">
                                <select id="pb-count-select" ng-model="pb.pbItemCount">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="main-options-section">
                <div class="section-header">
                    <h1>Основные опции</h1>
                </div>
                <div class="section-body">

                    <div>
                        <div id="pb-paper-section" class="inner-section inner-50">
                            <h2>Бумага</h2>
                            <div id="pb-papers" class="dropdown-list">
                                <select id="pb-paper-select"
                                        name="pbPaperSelect"
                                        ng-model="pb.pbPaper"
                                        ng-options="pbPaper as pbPaper.name for pbPaper in pb.pbPapers">
                                </select>                                    
                            </div>
                        </div>
                        <div id="pb-paper-base-section" class="inner-section inner-50">
                            <h2>Основа листа</h2>
                            <div id="pb-paper-bases" class="dropdown-list">
                                <select id="pb-paper-base-select"
                                        name="pbPaperBaseSelect"
                                        ng-options="pbPaperBase as pbPaperBase.name for pbPaperBase in pb.pbPaperBases"
                                        ng-model="pb.pbPaperBase">
                                </select>
                            </div>
                        </div>
                    </div>
 
                    <div>
                        <div id="pb-lamination-section" class="inner-section inner-50">
                            <h2>Ламимнирование</h2>
                            <div id="pb-lamination-types" class="dropdown-list">
                                <select id="pb-lamination-select"
                                        name="pbLaminationSelect"
                                        ng-options="pbLamination as pbLamination.name for pbLamination in pb.pbLaminations"
                                        ng-model="pb.pbLamination">
                                </select>
                            </div>
                        </div>
                        <div id="pb-forzaces-section" class="inner-section inner-50">
                            <h2>Форзацы</h2>
                            <div id="pb-forzaces-types" class="dropdown-list">
                                <select id="pb-forzaces-select">
                                    <option data-id="7">Запечатываемые</option>
                                    <option data-id="8">Незапечатываемые</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="cover-section">
                <div class="section-header">
                    <h1>Обложка</h1>
                </div>
                <div class="section-body">
                    <div id="pb-cover-types" class="product-list">

                        <div ng-repeat="pbCoverType in pb.pbCoverTypes"
                             ng-class="pbCoverType.id == pb.pbCoverTypeId ? 'active': ''" class="product-item"
                             ng-click="pb.chosePbCoverType(pbCoverType.id)"
                             title="{{pbCoverType.description}}"
                        >
                            <div class="product-header">
                                <div class="header-icon icon-selectable"></div>
                                <div class="header-icon icon-selected"></div>
                            </div>
                            <div class="product-image">
                                <img width="70" height="60" ng-src="{{pb.serverUrl}}/data/{{pbCoverType.image}}"/>
                            </div>
                            <div class="product-caption">{{pbCoverType.name}}</div>
                        </div>

                    </div>
                    <div class="subsection">
                        <div class="section-header">
                            <h1>Материал обложки</h1>
                        </div>
                        <div id="pb-covers" class="product-list" data-slick='{"slidesToShow": 4, "slidesToScroll": 2}'>

                            <div ng-repeat="pbCover in pb.pbCovers"
                                 ng-class="pbCover.id == pb.pbCoverId ? 'active': ''" class="product-item"
                                 ng-click="pb.chosePbCover(pbCover.id)"
                                 title="{{pbCover.description}}"
                            >
                                <div class="product-header">
                                    <div class="header-icon icon-selectable"></div>
                                    <div class="header-icon icon-selected"></div>
                                </div>
                                <div class="product-image">
                                    <img width="70" height="60" ng-src="{{pb.serverUrl}}/data/{{pbCover.image}}"/>
                                </div>
                                <div class="product-caption">{{pbCover.name}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section id="personalization-section">
                <div class="section-header">
                    <h1>Персонализация</h1>
                </div>
                <div class="section-body">
                </div>
            </section>

        </div>

        <div id="pb-price-area">

            <section id="img-preview-section">
                <div class="preview-container" style="background-image: url('{{pb.pbType.image}}')">
                </div>
            </section>

            <h1>Просчет стоимости</h1>
            <section id="currency-section">
                <div class="section-body">
                    <div id="pb-currencies" class="product-list">
                        <div ng-repeat="currency in pb.currencies"
                             ng-class="currency.id == pb.currencyId ? 'active': ''" class="product-item"
                             ng-click="pb.choseCurrency(currency.id)">
                            <div class="product-header">
                                <div class="header-icon icon-selectable"></div>
                                <div class="header-icon icon-selected"></div>
                            </div>
                            <div class="product-image">
                                <img width="35" height="35" src="http://dev.kollage.com.ua/pb_calc/img/currency/{{currency.name}}.gif"/>
                            </div>
                            <div class="product-caption">{{currency.name}}</div>
                        </div>
                    </div>
                    <div id="pb-prices">
                        <div class="row">
                            <button ng-show="pd.detailedView"
                                    ng-click="pd.detailedView = false">
                                Скрыть детали
                            </button>
                            <button ng-show="!pd.detailedView"
                                    ng-click="pd.detailedView = true">
                                Подробнее
                            </button>
                        </div>
                        <div ng-show="pd.detailedView" style="background-color: #eee;">
                            <div class="row">
                                <div class="col-50">Базовая цена:</div>
                                <div class="col-50"> {{pb._getBasePrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                            </div>
                            <div class="row">
                                <div class="col-50">Бумага:</div>
                                <div class="col-50"> {{pb._getPaperPrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                            </div>
                            <div class="row">
                                <div class="col-50">Основа листа:</div>
                                <div class="col-50"> {{pb._getPaperBasePrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                            </div>
                            <div class="row">
                                <div class="col-50">Ламинация:</div>
                                <div class="col-50"> {{pb._getLaminationPrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                            </div>
                            <div class="row">
                                <div class="col-50">Форзацы:</div>
                                <div class="col-50"> {{pb._getPhotobookForzacePrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                            </div>
                            <div class="row">
                                <div class="col-50">Обложка:</div>
                                <div class="col-50"> {{pb._getCoverPrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                            </div>
                            <div class="row">
                                <div class="col-50">Суперобложка:</div>
                                <div class="col-50"> {{pb._getSuperCoverPrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">Экземпляр:</div>
                            <div class="col-50"> {{pb.itemPrice() | currency:"":2}} {{pb.currency.symbol}}</div>
                        </div>
                        <div class="row">
                            <div class="col-50">Дизайн:</div>
                            <div class="col-50"> {{pb.designPrice()}} {{pb.currency.symbol}}</div>
                        </div>
                        <div class="row">
                            <div class="col-50">Бокс/футляр:</div>
                            <div class="col-50"> {{pb.boxPrice()}} {{pb.currency.symbol}}</div>
                        </div>
                        <div class="row">
                            <div class="col-50">Стоимость:</div>
                            <div class="col-50"> {{pb.totalPrice()}} {{pb.currency.symbol}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <div id="price-container">
            </div>
        </div>

    </div>
</div>

</body>
</html>