<h3>Заказ &laquo;{folder}&raquo;</h3>
<ol>
    <li id="performer"><b>Исполнитель: ФИО</b></li>
    <li id="status"><b>Состояние заказа: новый (новый, в работе, готов)</b></li>
    <li>Дата приема: DD.MM.YYYY</li>
    <li>Дата сдачи утвержденного макета (дата и время): DD.MM.YYYY hh:mm</li>
    <li>Дата готовности продукции (дата и время): DD.MM.YYYY hh:mm</li>
    <li>Вид продукции: фотокнига (фотокнига, открытка, визитка, баннер, плакат и т.д)</li>
    <li>Характеристики продукции:
        <ul>
            <li>размер: 30x30</li>
            <li>ориентация: горизонтальная (горизонтальная, вертикальная)</li>
            <li>материал: (меловка, диз.картон и т.д.)</li>
            <li>одностороння продукция или двухсторонняя</li>
        </ul>
    </li>
    <li>Контактные данные клиента: имя, фамилия, номер телефона, электронная почта</li>
    <li>Пожелания клиента: </li>
    <li>Номер заказа в базе: NNNN</li>
    <li>Сумма дизайна: XX.XX</li>
</ol>
