<div class="form">
	<div class="row">
		<p>В Вашей учетной записи нет номера мобильного телефона. Наличие номера позволит Вам получать СМС при заказе и его выполнении.</p>
	</div>
	<div class="row">
		<div class="float_left country">
			<label>Страна*</label>
			<select name="country"><option>выбирете страну</option></select>
		</div>
		<div class="float_right phone">
			<label>Мобилный телефон</label>
			<input type="text" name="phone"/>
		</div>
	</div>
</div>
