<div class="form">
	<div class="row">
		<label>Имя</label>
		<input type="text" name="firstname"/>
	</div>
	<div class="row">
		<label>Фамилия</label>
		<input type="text" name="lastname"/>
	</div>
	<div class="row">
		<label>Страна</label>
		<select name="country"><option>выбирете страну</option></select>
	</div>
	<div class="row">
		<label>Мобильный телефон</label>
		<input type="text" name="phone"/>
	</div>
	<div class="row">
		<label>Пароль</label>
		<input type="password" name="password"/>
	</div>
	<div class="row">
		<label>E-mail</label>
		<input type="text" name="email"/>
	</div>
	<div class="row">
		<label>Профессионал?</label>
		<input type="checkbox" id="is_professional" name="is_professional" />
		<label for="is_professional" class="inline">(укажите, если вы профессиональный фотограф)</label>
	</div>
	<div class="row">
		<label>Получать новости сайта?</label>
		<input type="radio" name="send_news" id="send_news_active" checked="checked" value="1" />
		<label for="send_news_active" class="inline">Да</label>
		<input type="radio" name="send_news" id="send_news_inactive" value="0"/>
		<label for="send_news_inactive" class="inline">Нет</label>
	</div>
	<div class="row">
		<label>Введите символы с картинки (<i>буквы - латиница</i>)</label>
		<img src="/app/views/images/loader1.gif" class="protect_image"/><div class="btn-reload"></div>
	</div>
	<div class="row">
		<input type="text" name="protect_code"/>
	</div>
</div>
