<div class="form">
	<div class="tabs">
		<ul>
			<li><a href="#tabs-1">По мобильному</a></li>
			<li><a href="#tabs-2">По E-mail</a></li>
		</ul>
		<div id="tabs-1">
			<div class="row">
				<div class="float_left country">
					<label>Страна*</label>
					<select name="country"><option>выбирете страну</option></select>
				</div>
				<div class="float_right phone">
					<label>Номер телефона*</label>
					<input type="text" name="phone"/>
				</div>
				<div class="clear_both"></div>
			</div>
		</div>
		<div id="tabs-2">
			<div class="row">
				<label>E-mail*</label>
				<input type="text" name="email"/>
			</div>
		</div>
	</div>
</div>
