
html, body {
	border: 0 none;
	background: none repeat scroll 0 0 #ffffff;
	height: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
	font-size: 100%;
	font-weight: normal;
	font-family: Arial, Helvetica;
	color: #000000; }

img {
	border: 0; }
	
a.highslide img {
	border: none;
}
  
h1 {
	color: #000;
	/*font-family: 'zrnic_cyr', Arial;*/
	font-size: 1.375em;
	font-weight: bold;
	margin: 0.5em 0;
	padding: 0;
}

h2 {
	color: #000;
	/*font-family: 'zrnic_cyr', Arial;*/
	font-size: 1em;
	font-weight: bold;
	margin: 0.25em 0;
	padding: 0;
}

h4 {
	color: #000;
	/*font-family: 'zrnic_cyr', Arial;*/
	font-size: 1em;
	font-weight: bold;
	margin: 0.125em 0;
	padding: 0;
}

p {
	color: #333333;
	font-size: 0.75em;
}

p.small {
	color: #333333;
	font-size: 0.6875em;
}

a {
	color: #4169e1;
	text-decoration: underline;
}
.header-left-barside-sn {
	font-family: Arial, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	color: #E10214;
	margin-top: 25px;
}
.left-barside-sn a.vtip {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	text-decoration: none;
	margin: 5px 8px 0 0;
}
.left-barside-sn a.sn-vk {
	background: url("images/sprite.png") no-repeat -111px 0;
}
.left-barside-sn a.sn-fb {
	background: url("images/sprite.png") no-repeat -137px 0;
}
.left-barside-sn a.sn-gl {
	background: url("images/sprite.png") no-repeat -162px 0;
}
.clear-both,
.clear_both {
	clear: both;
	font-size: 1px;
	height: 1px;
}
  
.hidden {
	display: none;
}

.float-right,
.float_right {
	float: right;
}
.float-left,
.float_left {
	float: left;
}

.clear-none,
.clear_none {
	clear: none;
}

figure.responsive {
	margin: 0;
	padding: 0; }

figure.responsive img {
	display: block;
	width: 100%; }
	
.green {
	color: #61ce53;
}
.red {
	color: #ff0000;
}
.blue {
	color: #55b7e4;
}

.loader1 {
	display: block;
	width: 16px;
	height: 16px;
	background: url(images/loader1.gif) no-repeat;
}

/* ui-widget adjustments */
.ui-widget,
.ui-widget input {
	font-family: Arial;
}
.ui-widget p {
	font-size: 1em;
}
.ui-widget select {
	background-color: #FBFBFB;
	border: 1px solid #999999;
	border-radius: 0.25em;
	color: #000000;
	height: 28px;
	padding: 4px;
}
.form .tabs .ui-tabs-nav {
	background: none;
	border: none;
}
.form .tabs .ui-tabs-nav li a {
	color: #ffffff;
}
.form .tabs .ui-tabs-nav .ui-state-default, .form .tabs .ui-tabs-nav .ui-widget-content .ui-state-default, .form .tabs .ui-tabs-nav .ui-widget-header .ui-state-default {
	background: #cccccc;
	border: none;
}
.form .tabs .ui-tabs-nav .ui-state-active, 
.form .tabs .ui-tabs-nav.ui-widget-content .ui-state-active, 
.form .tabs .ui-tabs-nav.ui-widget-header .ui-state-active {
	background: #505254;
	color: #FFFFFF;
    font-weight: bold;
	border: none;
}
.form .tabs ul.ui-tabs-nav{
	border-bottom: 1px solid #505254;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form select {
	width: 94%;
}
.form .country {
	width: 60%;
}
.form .phone {
	width: 39%;
}
.form .two-column-width input {
	width: 97%;
}

/* ui-widget adjustments */

/* sitehart */
.sh_btn {
	opacity: 0.6;
}
.sh_btn_bottom_right {
  bottom: 0;
  right: 20px !important;
}
/* sitehart */

@media all {
	.header-wrapper,
	.top-menu-wrapper,
	.page-wrapper,
	.footer-wrapper {
		min-width: 914px;
	}
	.header-wrapper {
		height: 89px;
		background: url("images/header-bg-1892.jpg") no-repeat scroll 4px 0 #0a0b0c;
		position: relative;
	}
	a.header-logo-link {
		position: absolute;
		display: block;
		width: 122px;
		height: 67px;
		left: 22px;
		top: 10px;
		text-decoration: none;
	}
	.header-slogan {
		position: absolute;
		left: 26%;
		top: 33px;
		font-family: 'Istok Web', Arial;
		font-size: 1.75em;
		font-weight: normal;
		color: #55b7e4;
		text-transform: uppercase;
		z-index: 10;
		margin: 0;
		padding: 0;
	}
	.header-wrapper .header {
		padding: 0 0 0 1em;
		height: 100%;
	}
	/* header right block */
	.header-wrapper .header .header-main-block-wrapper {
		position: relative;
		float: right;
		background: transparent url(images/header-main-block-bg.png) repeat-y top right;
		width: 430px;
		height: 100%;
		z-index: 100;
	}
	.header-wrapper .header .header-main-block {
		float: right;
		padding: 8px;
		padding-top: 5px;
	}
	.header-wrapper .header .header-main-block .login-register {
		color: #ffffff;
		font-size: 0.75em;
		margin-bottom: 5px;
	}
	.header-wrapper .header .header-main-block .login-register a {
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
	}
	.header-wrapper .header .header-main-block .login-register a:hover {
		color: #FCE762;
		text-decoration: underline;
	}
	.header-wrapper .header .header-main-block .header-phones {
		font-family: 'droidsansbold', Arial;
		color: #ffffff;
		font-size: 0.75em;
		padding-left: 30px;
		height: 28px;
		line-height: 28px;
		background: url(images/icon-phone.png) no-repeat left top;
		margin-bottom: 5px;
	}
	.header-phone {
		line-height: 13px;
		width:120px;
		font-size: 13px;		
	}	
	.header-phone-where {
		font-family: Arial, Helvetica, sans-serif;
		color: #ffffff;
		font-size:10px;
		height: 13px;
		text-align:left;
		vertical-align:top;
		margin-top:0px;
		line-height: 12px;
		width:120px;	
	}	
	.header-wrapper .header .header-main-block .header-search {
	}
	.header-wrapper .header .header-main-block .header-search .header-search-bg {
		width: 172px;
		height: 20px;
		border: 1px solid #66838e;
		border-radius: 4px;
	}
	.header-wrapper .header .header-main-block .header-search .header-search-bg input[type="text"] {
		border: none;
		background: none;
		color: #ffffff;
		width: 145px;
		height: 17px;
		font-size: 0.785em;
	}
	.header-wrapper .header .header-main-block .header-search .header-search-bg input[type="text"]:focus,
	.header-wrapper .header .header-main-block .header-search .header-search-bg input[type="image"] {
		outline: 0;
	}
	.header-wrapper .header .header-main-block .header-search .header-search-bg input[type="image"] {
		float: right;
		margin: 1px 1px 1px 0;
	}
	/* header right block */
	
	.top-menu-wrapper  {
	}
	.top-menu-wrapper .top-menu {
		height: 40px;
		padding: 0 1em;
	}
	
	/* footer */
	.footer-wrapper {
		min-height: 84px;
		background: #222 url(images/footer-bg.png) repeat-x top center;
	}
	.footer-wrapper .footer {
		padding: 0.75em;
		margin:0 auto;
	}
	.footer-wrapper .footer > * {
		vertical-align: top;
	}
	.footer-wrapper .footer a {
   	color: white;
	}
	.footer-wrapper .footer .social-links {
		display: inline-block;
		margin-right: 10px;
	}
	.footer-wrapper .footer .bonus-plus {
		width: 59px;
		height: 33px;
		background: url(images/bonusplus.png) no-repeat;
		display: inline-block;
		margin-right: 10px;
		margin-top: 10px;
	}
	.footer-wrapper .footer-ss-text {
		color: #FFFFFF;
		font-size: 12px;
		margin-bottom: 5px;
	}
	.footer-wrapper .footer .footer-ss {
		background-size: 82% !important;
		display: inline-block;
		margin-right: 5px;
	}
	.footer-wrapper .footer .ss-vk {
		width: 32px;
		height: 32px;
		background: url(images/vk.png) no-repeat;
	}
	.footer-wrapper .footer .ss-g {
		width: 32px;
		height: 32px;
		background: url(images/g.png) no-repeat;
	}
	.footer-wrapper .footer .ss-f {
		width: 32px;
		height: 32px;
		background: url(images/f.png) no-repeat;
	}
	/*.footer-wrapper .footer .footer-wrapper .footer {
		color: white;
		font-size: 0.6875em;
		font-weight: normal;
		float: left;
		margin: 0 4em 0 0;
		width:250px;
	}*/
	.footer-wrapper .footer .google-app {
		display: inline-block;
		margin-right: 10px;
	}
	.footer-wrapper .footer .google-app img {
		height: 53px;
	}
	.footer-wrapper .footer .copyr {
		color: white;
		font-size: 0.6875em;
		font-weight: normal;
		display: inline-block;
		margin-right: 10px;
		margin-left: 10px;
	}
	.footer-wrapper .footer .phones {
		color: white;
		font-size: 0.6875em;
		font-weight: normal;
		display: inline-block;
		margin-right: 10px;
		margin-left: 10px;
	}	
	/* footer */
	
	.page_title, .page_title a, .page_title h1 {
    	color: #D44040;
	    font-size: 18px;
	    font-family: arial;
	    text-decoration: none;
	}	
	
	.page-wrapper {
		background-color: #ffffff;
	}
	.page-wrapper .page .page-cover {
		position: absolute;
		z-index: 9999;
		background: url(images/opacity2.png);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.page-wrapper .page {
		position: relative;
		padding: 0 16px 16px 16px;
		font-size: 100%;
		font-weight: normal;
		overflow: hidden;
	}
	/*
	.page-wrapper .page {
		padding: 0 16px;
		font-size: 100%;
		font-weight: normal;
		margin: 0 0 0 -302px;
		width: 100%;
		float: left;
	}
	.page-wrapper .page .page-content {
		margin: 0 0 0 302px;
	}
	*/
	.page-wrapper .page-rightsidebar {
		float: right;
		width: 200px;
		margin: 16px 16px 0 0;
	}
	.page-clear-both {
		clear: both;
		font-size: 1px;
		height: 1px;
	}
	.page-wrapper .page .red {
		color: #E10214;
	}
	.page-wrapper .page .red2 {
		color: #ff0000;
	}
	
	/* startpage */
	.page .startpage-fotorama-wrapper {
		padding: 3px;
		margin: 0 auto;
		border: none;
		max-width: 1200px;
	}
	.startpage-fotorama-wrapper .startpage-fotorama {
		width: 100%;
	}	
	.page .startpage-fotorama-wrapper .startpage-fotorama-bottom {
		background: #090909 url(images/startpage/fotorama-bottom-bg.jpg) no-repeat center center;
		height: 39px;
		line-height: 39px;
		text-align:center;
	}
	.startpage-fotorama-bottom2 {
		background: #090909 url(images/startpage/fotorama-bottom-bg.jpg) no-repeat center center;
		height: 39px;
		line-height: 39px;
		text-align:center;
	}	
	.startpage-fotorama-bottom2 a:link, .startpage-fotorama-bottom2 a:visited, .startpage-fotorama-bottom2 a:hover, .startpage-fotorama-bottom2 a:active {
		color: rgb(255, 255, 0);
		font-family: 'Istok Web', sans-serif;
		text-decoration: none;
		font-size: 1.25em;
		line-height: 39px;
	}
	.startpage-fotorama-bottom-font-white{
		color: rgb(255, 255, 255);
	}
	.four-blocks-in-line {
		width: 23%;
		float: left;
	}
	.four-blocks-in-line  h4 {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1em;
		text-transform: uppercase;
		color: #000000;
		text-align: center;
		font-weight: normal;
		margin-bottom: 10px;
	}
	.startpage-banners-services, 
	.startpage-banners-actions,
	.startpage-new-products,
	.startpage-action-products	{
		width: 100%;
		height: 100%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		border-radius: 6px;
	}
	.banner-box-container{
		width: 100%;
		height: 100%;
		overflow: visible;
	}
	.banner-box-container .banner-box-content {
		position: relative;
		height: 128px;
		overflow: visible;
		border-top: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	.banner-box-container .banner-box-content div {
		width: 100%;
		height: 100%;
		overflow: visible;
		text-align: center;
		position: relative;
	}
	.banner-box-container .banner-box-content div.new-product-icon:after {
		position: absolute;
		content: '';
		left: 60%;
		top: 10%;
		width: 51px;
		height: 52px;
		background: url(images/sprite.png) no-repeat -175px -29px;
	}
	.banner-box-container .banner-box-content div.action-product-icon:after {
		position: absolute;
		content: '';
		right: -8px;
		top: -7px;
		width: 96px;
		height: 96px;
		background: url(images/shop/icon-action.png) no-repeat;
	}
	.banner-box-container .banner-box-content img {
		height: 97%;
		width: auto;
		margin: 2px 0;
	}
	.banner-box-container .banner-box-content div.banne-box-price {
		position: absolute;
		top: 5px;
		left: 5px;
		width: auto;
		height: auto;
		color: #FF0000;
		font-size: 0.75em;
		font-weight: bold;
		background: white;
	}
	.banner-box-container .banner-box-footer 	{
		position: relative;
		height: 24px;
		background: url(images/banner-box-footer-bg.png) repeat-x red;
		color: white;
		font-size: 1em;
		line-height: 150%;
		text-align: center;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		overflow: hidden;
	}
	.banner-box-container .banner-box-footer div {
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.banner-box-container .banner-box-footer div a {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 0.85em;
		line-height: 22px;
		text-decoration: none;
		color: #ffffff;
		text-align: center;
	}
	/* startpage */
	
	/* forms */
	label {
		font-size: 0.75em;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		font-size: 0.75em;
		height: 20px;
		margin: 0;
		padding: 0 2px;
		width: 92%;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid #cccccc; }

    textarea {
		font-size: 130%;
		margin: 0;
		padding: 0 2px;
		width: 92%;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid #cccccc; }
        
	input.small[type="text"],
	input.small[type="password"],
	input.small[type="email"] {
		width: 140px;
	}
	
	.button {
		background: none repeat scroll 0 0 #5E5E5E;
		border: 1px solid #5E5E5E;
		color: #FFFFFF;
		cursor: pointer;
		-webkit-box-shadow: 1px 1px 2px 1px #888888;
		box-shadow: 1px 1px 2px 1px #888888;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.button-green {
		background: none repeat scroll 0 0 #30A113;
		border: 1px solid #30A113;
		color: #FFFFFF;
		cursor: pointer;
		-webkit-box-shadow: 1px 1px 2px 1px #888888;
		box-shadow: 1px 1px 2px 1px #888888;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	
	.inp-error {
		background: #ffe4e4 !important;
	}
	/* forms */
	
	/* left-barside */
	.left-barside {
		float: left;
		width: 240px;
		margin-left: -100%;
	}
	/* left-barside */
	
	/* bottom-barside */
	.bottom-barside {
		margin-top: 45px;
	}
	
	.bottom-barside .left-barside {
		float: none;
		margin-left: 0;
	}
	.bottom-barside .header-left-barside-sn {
		float: left;
		margin: 10px 10px 10px 0;
	}
	/* end bottom-barside */
	
	/* dialog */
	#dlg-content label,
	#dlg-content2 label {
		display: block;
		font-size: 1em;
	}
	#dlg-content label.inline {
		display: inline;
		cursor: pointer;
	}
	#dlg-content input,
	#dlg-content2 input {
		font-size: 1em;
	}
	#dlg-content .btn-reload,
	#dlg-content2 .btn-reload {
		display: inline-block;
		width: 37px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -177px -149px;
	}
	#dlg-content .form .row,
	#dlg-content2 .form .row {
		margin: 8px 0 0 0;
	}
	#dlg-footer {
		margin: 10px 0 0 0;
	}
	#dlg-footer .dlg-footer-loader {
		float: left;
		margin: 6px 0 0 0;
	}
	#dlg-footer .dlg-footer-buttons {
		float: right;
	}
	#dlg-footer .dlg-footer-buttons .dlg-btn-close {
		display: inline-block;
		width: 153px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -155px -259px;
	}
	#dlg-footer .dlg-footer-buttons .dlg-btn-register {
		display: inline-block;
		width: 154px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat 0 -288px;
	}
	#dlg-footer .dlg-footer-buttons .dlg-btn-registration {
		display: inline-block;
		width: 154px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -155px -317px;
	}
	#dlg-footer .dlg-footer-buttons .dlg-btn-login {
		display: inline-block;
		width: 154px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -155px -288px;
	}
	#dlg-footer .dlg-footer-buttons .dlg-btn-send {
		display: inline-block;
		width: 154px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat 0 -317px;
	}
	/* dialog */
	
	/* article */
	.article-wrapper {
		float: left;
		width: 100%;
	}
	.article-wrapper .article-content {
		margin-left: 250px;
	}
	/* article */
	
	/* products */
	div.matrix {
		clear: both;
		width: auto;
	}
	div.matrix div.cell {
		clear: none;
		float: left;
		overflow: hidden;
		text-align: center;
		width: 200px;
		font-size: 0.75em;
	}
	div.cell .product {
		border: 1px solid #C0C0C0;
		margin-top: 2px;
		padding: 7px;
		text-align: center;
	}
	div.cell .product_info th {
		color: #E20011;
		font-size: 8pt;
		padding-top: 5px;
		text-align: left;
	}

	div.shop .shop-top {
		/*border-bottom: 1px solid #e5e5e5;*/
		padding: 0.5em 0 0.5em 0;
	}
	div.shop .shop-top h1,
	div.shop .shop-top h2,
	div.shop .shop-top h3,
	div.shop .shop-top span {
		display: inline;
		text-decoration: underline;
		font-size: 0.875em;
		font-weight: normal;
		color: #4169e1;
	}
	div.shop .accordion-block h3 {
		font-size: 0.8125em;
		font-weight: bold;
		color: #ff0000;
		margin: 0.5em 0 0.25em 0;
		padding: 0;
	}
	div.shop .accordion-block ul {
		margin: 0 0.5em 0 0;
		padding: 0;
	}
	div.shop .accordion-block ul li {
		list-style: none;
		margin-top: 3px;
		line-height: 100%;
	}
	div.shop .accordion-block a {
		font-size: 0.75em;
		font-weight: normal;
		color: #000000;
		text-decoration: none;
	}
	div.shop .accordion-block a:hover {
		text-decoration: underline;
	}
	div.shop .shop-left-column {
		float: left;
		width: 200px;
		height: 100%;
		margin-right: -200px;
	}
	div.shop .shop-right-column {
		margin-left: 201px;
		height: 100%;
	}
	div.shop .shop-right-column .shop-products-wrapper {
		padding-left: 15px;
		min-height: 400px;
		background: url("images/shop/corner-bg.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
	}
	/* price filter */
	div.shop .feature-value {
		padding: 2px 0;
	}
	div.shop input.feature-value-checkbox[type="checkbox"] {
		border: 0 none;
		clip: rect(0px, 0px, 0px, 0px);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	input.feature-value-checkbox[type="checkbox"] + label.feature-value-label {
		background: url("images/shop/green-cb.png") no-repeat scroll 0 0 transparent;
		cursor: pointer;
		display: inline-block;
		font-size: 0.75em;
		height: 15px;
		line-height: 15px;
		padding-left: 20px;
		vertical-align: middle;
		overflow: hidden;
	}
	/*input.feature-value-checkbox[type="checkbox"]:checked + label.feature-value-label,*/
	input.feature-value-checkbox.cb-checked[type="checkbox"] + label.feature-value-label {
		background-position: 0 -15px;
	}
	
	div.shop .shop-left-column .slider-container {
		width: 89%;
		margin-left: 6px;
	}
	div.shop .shop-left-column .slider-value-from,
	div.shop .shop-left-column .slider-value-to {
		width: 60px;
	}
	div.shop .shop-left-column .slider-values {
		width: 100%;
		margin: 5px 0;
	}
	div.shop .shop-left-column .slider-values span {
		font-size: 0.75em;
	}
	/* adjust ui styles */
	.ui-slider .ui-slider-handle {
		width: 0.5em;
	}
	.ui-slider-horizontal {
		height: 0.5em;
	}
	.ui-slider-horizontal .ui-slider-handle {
		top: -0.42em;
	}
	/* adjust ui styles */
	/* price filter */
	
	/* trash */
	#dlg-shop-trash-container #dlg-content {
		height: 380px;
		overflow: auto;
	}
	#dlg-shop-trash-container #dlg-content table.trash-products {
		width: 100%;
	}
	#dlg-shop-trash-container #dlg-content table.trash-products th,
	#dlg-shop-trash-container #dlg-content table.trash-products td {
		text-align: left;
	}
	#dlg-shop-trash-container #dlg-footer .dlg-footer-buttons .dlg-btn-close {
		display: inline-block;
		width: 154px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat 0 -230px;
	}
	#dlg-shop-trash-container #dlg-footer .dlg-footer-buttons .dlg-btn-order {
		display: inline-block;
		width: 154px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat 0 -259px;
	}
	#dlg-shop-trash-container #dlg-footer .dlg-footer-buttons .dlg-btn-order-save {
		display: inline-block;
		width: 153px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -155px -346px;
	}
	#dlg-shop-trash-container #dlg-content table.trash-products .remove-link {
		display: inline-block;
		width: 11px;
		height: 12px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -208px -3px;
	}
	#dlg-shop-trash-container #dlg-content tr.trash-products-total th,
	#dlg-shop-trash-container #dlg-content tr.trash-products-total td {
		border-top: 1px solid black;
		font-weight: bold;
	}
	#dlg-shop-trash-container #dlg-content tr.trash-products-total th {
		text-align: right;
	}
	
	#dlg-shop-trash-container .shop-order-block hr {
		border: none;
		border-bottom: 1px solid #666666;
	}
	#dlg-shop-trash-container .shop-order-block table {
		width: 100%;
	}
	#dlg-shop-trash-container .shop-order-block table input {
		width: 98%;
	}
	#dlg-shop-trash-container .shop-order-block table input.small {
		width: 96%;
	}
	/* trash */
	
	/* comparision */
	#dlg-comparision-container {
	}
	#dlg-comparision-container #dlg-content {
		height: 500px;
		overflow: auto;
	}
	#dlg-comparision-container #dlg-content table.comparision-features {
		float: left;
		width: 200px;
	}
	#dlg-comparision-container #dlg-content table.comparision-features th {
		text-align: left;
		vertical-align: top;
		height: 32px;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	#dlg-comparision-container #dlg-content table.comparision-features th.comparision-product-image {
		height: 124px;
	}
	#dlg-comparision-container #dlg-content table.comparision-features th.even {
		background-color: #f0f0f0;
	}
	#dlg-comparision-container #dlg-content table.comparision-features th.uneven {
		background-color: #fafafa;
	}
	#dlg-comparision-container #dlg-content .comparision-products {
		float: left;
		width: 600px;
		overflow: auto;
	}
	#dlg-comparision-container #dlg-content .comparision-products .comparision-product {
		float: left;
		width: 200px;
	}
	#dlg-comparision-container #dlg-content .comparision-products .comparision-product div.even {
		background-color: #f0f0f0;
	}
	#dlg-comparision-container #dlg-content .comparision-products .comparision-product div.uneven {
		background-color: #fafafa;
	}
	#dlg-comparision-container #dlg-content .comparision-products .comparision-product div {
		vertical-align: top;
		height: 32px;
		overflow: hidden;
	}
	#dlg-comparision-container #dlg-content .comparision-products .comparision-product div.comparision-product-image {
		vertical-align: top;
		height: 124px;
		overflow: hidden;
	}
	#dlg-comparision-container #dlg-content .comparision-products .comparision-product div.comparision-product-name {
		font-weight: bold;
	}
	#dlg-comparision-container #dlg-content .comparision-products .comparision-product div.comparision-product-name .remove-link {
		display: inline-block;
		width: 11px;
		height: 12px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -208px -3px;
		margin-left: 5px;
	}
	#dlg-comparision-container #dlg-footer {
		margin: 10px 0 0 0;
	}
	#dlg-comparision-container #dlg-footer .dlg-footer-loader {
		float: left;
		margin: 6px 0 0 0;
	}
	#dlg-comparision-container #dlg-footer .dlg-footer-buttons {
		float: right;
	}
	#dlg-comparision-container #dlg-footer .dlg-footer-buttons .dlg-btn-delete-all {
		display: inline-block;
		width: 153px;
		height: 29px;
		margin: 0 0 0 10px;
		cursor: pointer;
		background: url(images/sprite.png) no-repeat -155px -230px;
	}
	/* comparision */
	
	/* product item */
	.shop-products {
	}
	.shop-products .product-grid-item {
		float: left;
		overflow: hidden;
		margin: 1em 1em 2px 0;
		width: 169px;
		height: 265px;
	}
	.shop-products .product-grid-item .product-info {
		height: 225px;
		border-radius: 5px;
		padding: 5px 7px 0 7px;
	}
	.shop-products .product-grid-item.active .product-info {
		border: 1px solid #61ce53;
	}
	.shop-products .product-grid-item.inactive .product-info {
		border: 1px solid #eaeaea;
	}
	.shop-products .product-grid-item .product-info .title {
		width: 122px;
		height: 32px;
		overflow: hidden;
		float: left;
		font-size: 0.75em;
		font-weight: bold;
		color: #000000;
	}
	.shop-products .product-grid-item .product-info .price {
		font-size: 1em;
		font-weight: bold;
		color: #ff0000;
	}
	.shop-products .product-grid-item .product-info .picture {
		margin: 10px 0;
		position: relative;
	}
	.shop-products .product-grid-item .product-info .picture.new-product-icon:after {
		position: absolute;
		content: '';
		right: 5%;
		top: 5%;
		width: 51px;
		height: 52px;
		background: url(images/sprite.png) no-repeat -175px -29px;
	}
	.shop-products .product-grid-item .product-info .picture img {
		width: 100%;
		height: auto;
		border: none;
	}
	.shop-products .product-grid-item.active .product-info .action-product-icon:after {
		background: url("images/hot.png") no-repeat;
		content: "";
		height: 53px;
		position: absolute;
		right: 5%;
		top: 5%;
		width: 51px;
	}
	
	
	
	.shop-products .product-grid-item .product-button .btn-buy-now {
		width: 168px;
		height: 27px;
		margin: 2px 0 0 1px;
		cursor: pointer;
	}
	.shop-products .product-grid-item.active .product-button .btn-buy-now {
		background: url(images/sprite.png) no-repeat 0 -175px;
	}
	.shop-products .product-grid-item.inactive .product-button .btn-buy-now {
		background: url(images/sprite.png) no-repeat 0 -202px;
	}
	.shop-products .product-grid-item .availability-yes,
	.shop-products .product-grid-item .availability-no {
		font-size: 0.875em;
		font-weight: normal;
	}
	.shop-products .product-grid-item.active .availability-yes,
	.shop-product-wrapper .product-info.active .availability-yes {
		display: block;
	}
	.shop-products .product-grid-item.active .availability-no,
	.shop-product-wrapper .product-info.active .availability-no {
		display: none;
	}
	.shop-products .product-grid-item.inactive .availability-yes,
	.shop-product-wrapper .product-info.inactive .availability-yes {
		display: none;
	}
	.shop-products .product-grid-item.inactive .availability-no,
	.shop-product-wrapper .product-info.inactive .availability-no {
		display: block;
	}
	.shop-products .product-grid-item .product-info a.goto-details {
		font-size: 0.875em;
		font-weight: normal;
		color: #6d7073;
		text-decoration: underline;
	}
	.shop-products .product-grid-item .product-info .sn {
		float: right;
	}
	.shop-products .sn-vk,
	.shop-products .sn-fb,
	.shop-products .sn-gl {
		display: block;
		width: 12px;
		height: 12px;
		margin: 4px 0 0 2px;
		float: left;
	}
	.shop-products .sn-vk {
		background: url(images/sprite.png) no-repeat -69px 0;
	}
	.shop-products .sn-fb {
		background: url(images/sprite.png) no-repeat -83px 0;
	}
	.shop-products .sn-gl {
		background: url(images/sprite.png) no-repeat -97px 0;
	}
	.shop-products .btn-add-to-compare,
	.shop-product-wrapper .btn-add-to-compare,
	.shop-products .btn-added-to-compare,
	.shop-product-wrapper .btn-added-to-compare {
		display: block;
		width: 28px;
		height: 30px;
		float: right;
	}
	.shop-products .btn-add-to-compare,
	.shop-product-wrapper .btn-add-to-compare {
		background: url(images/sprite.png) no-repeat -2px -35px;
	}
	.shop-products .btn-added-to-compare,
	.shop-product-wrapper .btn-added-to-compare {
		background: url(images/sprite.png) no-repeat -32px -35px;
	}
	/* list view*/
	.shop-products .product-list-item .title,
	.shop-products .product-list-item .number {
		font-size: 0.75em;
		font-weight: bold;
		color: #000000;
		position: relative;
	}
	.shop-products .product-list-item .new-action-etc span {
		font-size: 0.75em;
		font-weight: bold;
		color: #55B7E4;
	}
	.shop-products .product-list-item .number {
		font-weight: normal;
	}
	.shop-products .product-list-item .price {
		font-size: 0.75em;
		font-weight: bold;
		color: #ff0000;
	}
	.shop-products .product-list-item .btn-buy-now {
		width: 168px;
		height: 27px;
		margin: 2px 0 0 1px;
		cursor: pointer;
	}
	.shop-products .product-list-item.active .product-button .btn-buy-now {
		background: url(images/sprite.png) no-repeat 0 -175px;
	}
	.shop-products .product-list-item.inactive .product-button .btn-buy-now {
		background: url(images/sprite.png) no-repeat 0 -202px;
	}
	.shop-products .product-list-item .availability-yes,
	.shop-products .product-list-item .availability-no {
		font-size: 0.75em;
		font-weight: normal;
	}
	.shop-products .product-list-item.active .availability-yes {
		display: block;
	}
	.shop-products .product-list-item.active .availability-no {
		display: none;
	}
	.shop-products .product-list-item.inactive .availability-yes {
		display: none;
	}
	.shop-products .product-list-item.inactive .availability-no {
		display: block;
	}
	.shop-products .product-list-item a.goto-details {
		font-size: 0.75em;
		font-weight: normal;
		color: #6d7073;
		text-decoration: underline;
	}
	.shop-products table {
		border-collapse: collapse;
		width: 100%;
		margin-top: 10px;
	}
	.shop-products table, .shop-products table th, .shop-products table td {
		border: 1px solid #cccccc;
	}
	.shop-products table th {
		font-size: 0.875em;
		font-weight: normal;
		background: #454545;
		color: #fff;
		padding: 4px 10px;
	}
	.shop-products table td {
		padding: 4px 10px;
	}
	.shop-products table td.centered {
		text-align: center;
	}
	.shop-products .product-list-item div.title.new-product-icon:after {
		position: absolute;
		content: '';
		right: -8px;
		top: -8px;
		width: 26px;
		height: 26px;
		background: url(images/shop/icon-new.png) no-repeat;
		background-size: 26px 26px;
	}
	/* list view*/
	/* product item */
	
	/* product navigator */
	.shop-nav-panel {
		padding-top: 5px;
	}
	.shop-nav-panel .shop-nav-listview,
	.shop-nav-panel .shop-nav-gridview {
		display: block;
		width: 29px;
		height: 29px;
		cursor: pointer;
	}
	.shop-nav-panel .shop-nav-listview {
		background: url(images/sprite.png) no-repeat -61px -36px;
	}
	.shop-nav-panel .shop-nav-gridview {
		background: url(images/sprite.png) no-repeat -90px -36px;
	}
	.shop-nav-panel select.shop-nav-items-per-page,
	.shop-nav-panel select.shop-nav-show-products {
		font-size: 0.875em;
		padding: 4px;
	}
	.shop-nav-panel .btn-trash,
	.shop-product-wrapper .btn-trash {
		display: inline-block;
		width: 33px;
		height: 26px;
		margin-right: 5px;
	}
	.shop-nav-panel .btn-trash,
	.shop-product-wrapper .btn-trash {
		background: url(images/sprite.png) no-repeat 0px 0px;
	}
	.shop-nav-panel .btn-compare,
	.shop-product-wrapper .btn-compare {
		display: inline-block;
		width: 33px;
		height: 31px;
		margin-right: 5px;
	}
	.shop-nav-panel .btn-compare,
	.shop-product-wrapper .btn-compare {
		background: url(images/sprite.png) no-repeat -33px 0px;
	}
	/* product navigator */
	
	/* product pagination */
	.shop-products-paginator-wrapper {
		text-align: center;
	}
	.shop-products-paginator {
		display: inline-block;
		margin: 10px auto;
	}
	.shop-products-paginator span,
	.shop-products-paginator a {
		display: inline-block;
		font-size: 0.875em;
		font-weight: normal;
		min-width: 26px;
		text-align: center;
		border: 1px solid #61676c;
		border-radius: 4px;
		padding: 4px 0;
		margin: 0 3px;
	}
	.shop-products-paginator a {
		text-decoration: none;
		color: #222222;
		background-color: #dddddd;
		border-color: #dddddd;
	}
	.shop-products-paginator span.prev,
	.shop-products-paginator span.next,
	.shop-products-paginator a.prev,
	.shop-products-paginator a.next {
		margin: 0 20px;
		color: #ffffff;
		background-color: #888888;
		border-color: #888888;
	}
	.shop-products-paginator a:hover {
		background-color: #cccccc;
		border-color: #cccccc;
	}
	.shop-products-paginator a.prev:hover,
	.shop-products-paginator a.next:hover {
		background-color: #aaaaaa;
		border-color: #aaaaaa;
	}
	.shop-products-paginator a.prev:active,
	.shop-products-paginator a.next:active {
		background-color: #333333;
		border-color: #333333;
	}
	.shop-products-paginator span.selected,
	.shop-products-paginator a:active {
		background-color: #61676c;
		border-color: #61676c;
		color: #fff;
	}
	.shop-products-paginator span.dots {
		border: none;
		background: none;
	}
	/* product pagination */
	
	.shop-product-wrapper {
		margin: 0 auto;
		max-width: 655px;
		position: relative;
	}
	.shop-product-wrapper .top-right {
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.shop-nav-panel .trash-icon,
	.shop-nav-panel .compare-icon,
	.shop-product-wrapper .trash-icon,
	.shop-product-wrapper .compare-icon {
		font-size: 0.75em;
		color: #919396;
	}
	.shop-nav-panel .trash-icon a,
	.shop-nav-panel .compare-icon a,
	.shop-product-wrapper .trash-icon a,
	.shop-product-wrapper .compare-icon a {
		color: #919396;
	}
	.shop-product-wrapper .shop-product-pictures {
		position: relative;
		float: left;
		width: 202px;
		/*background: white url(images/shop/product-pictures-bg.png) no-repeat right bottom;*/
		background: white;
		padding: 10px 0 20px 0;
		margin: 0 10px 0 0;
	}
	.shop-product-wrapper .shop-product-pictures .top-right {
		position: absolute;
		right: 10px;
		top: -10px;
	}
	.shop-product-wrapper .shop-product-pictures .panel-small {
		min-height: 56px;
	}
	.shop-product-wrapper .shop-product-pictures .panel-small .item {
		float: left;
		margin: 10px 10px 10px 0;
	}
	.shop-product-wrapper .product-info {
	}
	.shop-product-wrapper .product-info h2 {
		font-weight: normal;
		font-size: 1.65em;
	}
	.shop-product-wrapper .product-info .price {
		font-size: 1.25em;
		font-weight: bold;
		color: #ff0000;
	}
	.shop-product-wrapper .product-info .hr {
		border-bottom: 1px solid #cccccc;
		margin: 10px 0 10px 0;
	}
	.shop-product-wrapper .product-info .hr-clear {
		border-bottom: 1px solid #cccccc;
		margin: 20px 0 10px 0;
		clear: left;
	}
	.shop-product-wrapper .product-info p {
		font-size: 0.875em;
	}
	.shop-product-wrapper .product-info p.p-clear {
		font-size: 0.1em;
		clear: left;
	}
	.shop-product-wrapper .product-info .product-button .btn-buy-now { 
		display: inline-block;
		width: 168px;
		height: 27px;
		margin: 2px 0 0 1px;
		cursor: pointer;
	}
	.shop-product-wrapper .product-info.active .product-button .btn-buy-now {
		background: url(images/sprite.png) no-repeat 0 -65px;
	}
	.shop-product-wrapper .product-info.inactive .product-button .btn-buy-now {
		background: url(images/sprite.png) no-repeat 0 -92px;
	}
	.shop-product-wrapper .product-info table.product-features {
		border-spacing: 0;
		width: 100%;
	}
	.shop-product-wrapper .product-info table.product-features tr.row1 {
		background: #ecf5ec;
	}
	.shop-product-wrapper .product-info table.product-features tr.row2 {
	}
	.shop-product-wrapper .product-info table.product-features th,
	.shop-product-wrapper .product-info table.product-features td {
		font-size: 0.875em;
		text-align: left;
		padding: 6px 4px;
		font-weight: normal;
	}
	
	/* product categories list */
	.shop .shop-categories {
		width: 900px;
		margin: 0 auto;
	}
	.shop .shop-categories .shop-categories-column {
		float: left;
		width: 300px;
	}
	.shop .shop-categories .shop-categories-block {
		/*
		float: left;
		display: block;
		width: 257px;
		height: 320px;
		overflow: hidden;
		background: url(images/shop/categories-block-bg.png) no-repeat bottom right;
		*/
	}
	.shop .shop-categories ul.shop-categories-block {
		margin: 1em 0 0 1em;
		padding: 0 0 0 24px;
	}
	.shop .shop-categories ul.shop-categories-block > li {
		list-style-image: url(images/shop/categories-list-li.png);
	}
	.shop .shop-categories ul.shop-categories-block > li > a {
		font-size: 1.25em;
		color: #000;
		text-decoration: none;
	}
	.shop .shop-categories ul.shop-categories-block > li > a:hover {
		color: #444444;
	}
	.shop .shop-categories ul.shop-categories-block ul {
		margin: 0 0 0 -21px;
		padding: 0;
	}
	.shop .shop-categories ul.shop-categories-block ul > li {
		list-style: none;
	}
	.shop .shop-categories ul.shop-categories-block ul > li > a {
		font-size: 0.75em;
		color: #000;
		text-decoration: underline;
	}
	.shop .shop-categories ul.shop-categories-block ul > li > a:hover {
		color: #444444;
	}
	/* product categories list */
	
	/* products */
	
	/* articles */
	/* leftmenu */
	ul.leftmenu {
		list-style: none;
		margin: 0.5em 0;
		padding: 0;
	}
	ul.leftmenu li.leftmenu-submenu {
		color: #E10214;
		font-weight: bold;
		margin: 0;
		padding: 5px 5px 5px 0;
		font-size: 0.875em;
	}
	ul.leftmenu li.leftmenu-submenu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul.leftmenu li.leftmenu-submenu ul li {
		font-size: 0.85em;
		font-weight: normal;
		padding: 2px 5px 2px 0;
	}
	ul.leftmenu li.leftmenu-submenu ul li a {
		color: #111111;
		text-decoration: underline;
	}
	ul.leftmenu li.leftmenu-submenu ul li a:hover {
		color: #6d7073;
		text-decoration: none;
	}
	/* leftmenu */
	/* articles */
	
	/* new_products */
	.startpage-blocks {
		margin: 10px 0 0 0;
	}
	.startpage-blocks .space-between-blocks {
		float: left;
		height: 200px;
		width: 2%;
	}
	.top-border-startpage-blocks {
		border-top: 3px solid #32322C;
		margin-top: 45px;
		padding-top: 10px;
	}

}

/* photo orders */
	.sop-order-number{
		color: rgb(0, 74, 136);
		background: none repeat scroll 0% 0% rgb(188, 218, 243);
		font-size: 10pt;
			text-align: left;
		padding: 2px 3px;
	}
	.sop-order-content_table{
		width: 100%;
		font-size: 9pt;	
		font-family: tahoma,verdana,arial,sans-serif;	
	}
	.sop-order-content_table td{		
		background: none repeat scroll 0% 0% rgb(238, 238, 238);
	}
	.sop-order-content_table th{
		color: rgb(0, 74, 136);
		background: none repeat scroll 0% 0% rgb(188, 218, 243);
		font-size: 10pt;
		text-align: left;
		padding: 2px 3px;
	}
	.sop-order-content_table th.normal{	
		color: rgb(0, 74, 136);
		background: none repeat scroll 0% 0% rgb(188, 218, 243);
		font-size: 10pt;
		font-weight: normal;
		text-align: left;
		padding: 1px 3px;
	}
	.sop-order-content_table .selectbox {
		width: 64px;
		height: 20px;
	}
	.sop-order-ftitle{
		color: rgb(119, 119, 119);
		font-size: 8pt;
	}
	.sop-order-input{
		font-family: verdana,arial,sans-serif;
		font-size: 9pt;	
	}
	.sop-order-inputbox2 {
		font-size: 9pt !important;
		height: 18px !important;
		margin: 0 0 2px 0 !important;
		padding: 0px 2px !important;
		border-radius: 1px !important;
		border: 1px solid #CCC !important;		
    	width: 18px !important;
	}
	.photos_submenu div {
    	color: #FFF;
	    font-size: 10px;
    	font-weight: bold;
	    cursor: pointer;
	}
	.sop-order-ftitle {
	    color: #777;
	    font-size: 8pt;
	}	
	
/* photo orders */

/* printbook orders */
	.printbook{
		font-family: tahoma,verdana,arial,sans-serif;
		font-size: 9pt;		
	}
	.printbook .fotobook-zakaz {
		max-width: 700px;
		position: relative;
	}
	.printbook .fotobook-zakaz-left {
		max-width: 490px;
	}
	.printbook .fotobook-zakaz-left .block-fotobook {
		float: left;
		margin-right: 3px;
	}
	.printbook .fotobook-zakaz-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 212px;
	}
	.fotobook-zakaz-bottom {
		padding-top: 16px;
	}
	.fotobook-price {
		max-width: 484px;
		padding-bottom: 2px;
		border-bottom: 2px dotted #B29447;
	}
	.bordered:first-child {
		float: left;
		width: 240px;
	}
	.printbook td.first, .printbook td.second {
    	width: 20%;
	}
	.printbook td.third {
    	width: 60%;
	}		
	.printbook label, .printbook div.price{	
		padding-top: 16px;
		padding-bottom: 0px;
		font-weight: bold;
		font-size: 9pt;
	}
	.printbook-displayblock{
			display: block;
	}
	.printbook div.price {
    	display: block;
	}	
	.printbook select{
		width: 240px;
		background-color: rgb(229, 204, 139);
		border: 1px solid rgb(178, 148, 71);	
	}
	.printbook div.comment{
	    color: rgb(136, 136, 136);
	    font-style: normal;
	    font-size: 10px;
	}
	.printbook div.comment_black {
    	color: rgb(0, 0, 0);
	    font-style: normal;
	    font-size: 10px;
	}	
	.printbook label.regular, .printbook div.price_regular {
	    display: block;
    	padding-top: 13px;
	    padding-bottom: 0px;
	    font-weight: normal;
	}
	.printbook td.bordered {
    	border-bottom: 2px dotted rgb(178, 148, 71);
	}
	.printbook div.wrapper {
	    position: relative;
	}	
	.printbook div.wrapper div.disabled{
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    background: url("images/opacity2.png") repeat scroll 0% 0% transparent;
	}
	.printbook div.select_personal_pages {
    	float: left;
	    width: 80px;
	    height: 18px;
	}	
	.printbook label.inline {
    	display: inline;
	    padding: 0px 0px 2px;
    	font-weight: normal;
	}
	.printbook #pb_box_category_image, .printbook #pb_cover_category_image, .printbook #pb_design_work_category_image {
    margin-left: 30px;
    margin-top: 15px;
}
/* printbook orders */

	/*Правый блок стоимости*/	
	.printbook .cena {
		width: 160px;
		margin-left: 30px;
		background: #E5CC8B;
		border: 1px solid #B29447;
		padding: 0 10px 10px;
		box-shadow: 0px 0px 5px 2px #ddd;
	}
	.printbook .sticky {
		position: fixed;
		top: 80px;
	}
	.printbook .cena .regular-dubl,
	.printbook .cena .printbook-displayblock-dubl {
		float: left;
		margin-right: 10px;
	}
	.printbook .cena .price_regular-dubl,
	.printbook .cena .price-dubl {
		text-align: right;
	 }
	.printbook #pb_box_items div.category_item, .printbook #pb_cover_category div.category_item, .printbook #pb_cover_items div.category_item, .printbook #pb_design_work_items div.category_item, .printbook #pb_photobook_forzaces div.photobook_forzace_item {
    	width: 100px;
	    height: 140px;
    	display: block;
	    overflow: hidden;
	    padding: 5px;
	    margin-right: 5px;
	    margin-bottom: 5px;
	    float: left;
	}
	.printbook #pb_box_items div.category_item p, .printbook #pb_cover_category div.category_item p, .printbook #pb_cover_items div.category_item p, .printbook #pb_design_work_items div.category_item p, .printbook #pb_photobook_forzaces div.photobook_forzace_item p {
	    padding: 0px;
	    margin: 0px;
	}	
	.printbook #pb_size_image {
	    margin-left: 30px;
	    margin-top: 20px;
	    margin-bottom: 10px;
	}
	.printbook-highslide {
    	outline: medium none;
	    text-decoration: none;
	}		
	.printbook-highslide img {
    	cursor: url("../../js/highslide/graphics/zoomin.cur"), pointer !important;
	}
	.printbook-highslide img {
	    border: 2px solid silver;
	}
	.printbook-highslide:hover img {
    	border-color: gray;
	}	
	.printbook a:link, a:visited {
		color: rgb(35, 90, 201);
		text-decoration: underline;
		line-height: 1.1;
		font-size: 9pt;
	}
	.printbook a:hover, a:active {
	    color: rgb(255, 144, 0);
	}
	table.photobook.order th {
		text-align: left;
	}
	table.photobook.order th.normal,
	table.photobook.order td.normal {
		text-align: left;
		font-size: 0.75em;
	}
	/* Правый блок стоимости */	

	/* printbook calc */
	.printbook .pb-format-item {
		float: left;
		width: 100px;
		height:100px;
		margin: 4px;
		border: 2px solid #ccc;
		border-radius: 10px;
		overflow: hidden;
		transition: 0.4s;
		cursor: pointer;
	}
	.printbook .pb-format-item:hover {
		border: 2px solid #58CC53;
	}
	.printbook .pb-format-item.selected {
		border: 2px solid #58CC53;
		box-shadow: 0 0 5px 0px #53B04F;
	}
	.printbook .pb-format-item img {
		width: 100%;
		height: auto;
		cursor: pointer;
	}
	.printbook .cover-category, .printbook #pb_cover_items {
		background: #eff7f9;
		margin: 0 -10px;
		padding: 0 10px 10px 10px;
	}
	.printbook #pb_cover_supercovers {
		clear: both;
	}
	/* printbook calc */

	/* PB ORDER ITEMS */
	.pb_order_items {
		margin-bottom: 20px;
	}
	.pb_order_item {
		position: relative;
		display: block;
		float: left;
		background-color: #e5cc8b;
		border: 1px solid #b29447;
		width: 394px;
		height: 132px;
		overflow: hidden;
		margin-top: 5px;
		margin-right: 4px;
	}
	.pb_order_item {
		padding: 4px 4px 0px 4px;
	}
	.pb_order_item .inputbox_small {
		border: 1px solid #C0C0C0;
		width: 40px;
	}
	.pb_order_item .pb_order_item_message {
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: transparent url(images/opacity2.png);
		color: red;
		font-size: 12px;
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
	.pb_order_item .ie_pb_order_item_message {
		width: 394px;
	}
	.pb_order_item .pb_order_item_message .pb_order_item_message_content {
		padding: 20px 10px 5px 10px;
		width: 394px;
		height: 100%;
	}
	.pb_order_item .pb_order_item_message .close_button {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}
	.pb_order_item .pb_order_item_message .upload_button {
		margin-left: 10px;
	}
	.pb_order_item p {
		margin: 0;
		margin-bottom: 4px;
	}
	.pb_order_item .pb_order_item_image {
		margin-right: 5px;
		margin-top: 7px;
	}
	.pb_order_item .pb_order_item_header {
		margin-bottom: 4px;
		position: relative;
		font-size: 0.75em;
	}
	.pb_order_item .pb_order_item_header b {
		padding-left: 20px;
	}
	.pb_order_item .order_item_select_cb {
		position: absolute;
		top: -3px;
		left: -4px;
	}
	.pb_order_item a.order_item_select_bdel {
		float: right;
		top: 0px;
		display: block;
		width: 13px;
		height: 13px;
		background: transparent url(images/pb/pb_order_item_del.png) no-repeat 0 0;
		cursor: pointer;
	}
	.pb_order_item a.ie_order_item_select_bdel {
		position: absolute;
		top: 0px;
		right: 4px;
		display: block;
		width: 13px;
		height: 13px;
		background: transparent url(images/pb/pb_order_item_del.png) no-repeat 0 0;
		cursor: pointer;
	}
	.pb_order_item a:hover.order_item_select_bdel {
		background-position: -13px 0;
	}
	.pb_order_item .pb_order_item_comments {
		margin: 0;
		width: 133px;
		overflow: hidden;
	}
	.pb_order_item .pb_order_item_comments textarea {
		width: 133px;
		height: 58px;
		margin: 0;
		border: 1px solid #C0C0C0;
	}
	.pb_order_item .pb_order_item_comments textarea, 
	.pb_order_item .pb_order_item_comments input {
		background-color: #e4ddcb;
	}
	.pb_order_item .pb_order_item_types {
		border: 1px solid #b29447;
		width: 108px;
		height: 105px;
		margin: 0;
		padding: 0;                  
	}
	.pb_order_item .pb_order_item_page,
	.pb_order_item .pb_order_item_personal_page {
	}
	textarea.pb_order_page_comment {
		width: 485px;
		height: 60px;
		margin: 0;
	}
	/* PB ORDER ITEMS */
	
	/* search */
	ol.search-results li {
		font-size: 0.875em;
		margin: 5px 0;
	}
	/* search */

/*My files*/
.account_table {
	margin: 15px 0;
}
.account_table th {
	text-align: left;
}
.account_table tr {
	height: 25px;
	font-size: 14px;
}	
.account_table  tfoot {
	height: 40px;
}
.account_table  tr td input {}
.account_table tr:nth-child(2n) {
	background-color: #f0f0f0;
}
	
@media screen and (max-width:1124px) {
}
/*header МИР ЦИФРОВОГО ИЗОБРАЖЕНИЯ*/
@media screen and (min-width:1366px) {
	.header-slogan {
		left: 46%;
	}
}
@media screen and (max-width:1366px) {
	.header-slogan {
		left: 35%;
	}
}
@media screen and (max-width:1200px) {
	.header-slogan {
		left: 30%;
	}
}
@media screen and (max-width:1100px) {
	.header-slogan {
		left: 27%;
	}
}
@media screen and (max-width:1000px) {
	.header-slogan {
		left: 24%;
	}
}