p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }
.tip-wrap{
            display: none;
            position: absolute;
            z-index:9999;
        }
        .tip-top{
            width: 266px;
            height: 10px;
            background: url("../images/tip_top.png");
        }
        .tip_middle{
            width: 266px;
            background: url("../images/tip_middle.png") repeat-y;
            padding: 7px 0 16px 0;
        }
        .tip-bottom{
            width: 266px;
            height: 21px;
            background: url("../images/tip_bottom.png");
        }
            .tip-content{
                font-family: arial;
                font-size: 11px;
                margin: 0 15px;
                width: 227px;
            }