body {
	margin: 0;
}

form {
	margin: 0;
	padding: 0;
}

.dontdisplay {
	display: none;
}

.displayblock {
	display: block;
}

.displayinline {
	display: inline;
}

body, div, table td, table th {
	font: 11px Lucida Grande, Verdana, Tahoma, sans-serif;
	font-weight: normal;
	color: #000000;
}

input, textarea, select {
	font: 11px Lucida Grande, Verdana, Tahoma, sans-serif;
	font-weight: normal;
	color: #1c1c1c;
}

a {
	font: 11px Lucida Grande, Verdana, Tahoma, sans-serif;
	color: #000000;
	text-decoration: none;
}
a:hover { color: #444444; }
a:active { color: #000000; }

span.disabled {
	color: #cccccc;
}

span.menuleft_usual {
	font-weight: normal;
}

span.menuleft_active {
	font-weight: bold;
}

.error {
	font-weight: bold;
	color: aa0000;
}

table.list {
	border-collapse: collapse;
	width: 96%;
}

table.list a {
	margin: 0;
}

table.list th {
	font-weight: bold;
	color: #000000;
	margin: 0;
	height: 22px;
	text-align: left;
	background-color: #ecddc4;
	border-top: 1px solid #e3bf85;
	border-bottom: 1px solid #e3bf85;
}

table.list th a {
	font-weight: bold;
	color: #000000;
}

table.list th.actions {
	color: #000000;
	margin: 0;
	text-align: right;
	background-color: #ecddc4;
	border: 0;
	border-bottom: 1px solid #e3bf85;
}

table.list td.row {
	height: 22px;
	vertical-align: middle;
	border-bottom: 1px dashed #e3bf85;
}

table.list td.row div.cell {
	cursor: pointer;
}

table.list td.row_price_active {
	height: 22px;
	vertical-align: middle;
	border-bottom: 1px dashed #e3bf85;
	font-weight: bold;
	color: #009900;
}

table.sort {
	width: 100%;
	margin-top: 2px;
}

table.paginator {
	border-collapse: collapse;
	width: 96%;
	margin-top: 4px;
	margin-bottom: 4px;
}

table.paginator th {
	vertical-align: middle;
	background-color: #ede3d3;
	border-top: 1px solid #ecddc4;
	border-bottom: 1px solid #ecddc4;
}

table.paginator td {
	vertical-align: middle;
}

table.form {
	border-collapse: collapse;
	width: 650px;
}

table.form th {
	vertical-align: middle;
	/*background-color: #b0b0b0;*/
	background-color: #f0d3a3;
	font-weight: bold;
	height: 20px;
	text-align: left;
	padding-left: 4px;
}

table.form th.subheader {
	vertical-align: middle;
	background-color: #e0e0e0;
	height: 20px;
	text-align: left;
	padding-left: 4px;
}

table.form th.actions {
	vertical-align: middle;
	background-color: #e0e0e0;
	text-align: right;
	height: 26px;
	padding-right: 4px;
}

table.form th.actions.points-closed#points-title {
	background: #e0e0e0 url(images/list-icon-closed.png) no-repeat 98% center;
}

table.form th.actions.points-opened#points-title {
	background: #e0e0e0 url(images/list-icon-opened.png) no-repeat 98% center;
}

table.form td {
	vertical-align: middle;
	padding-top: 4px;
	padding-bottom: 4px;
}

table.form td.row {
	height: 22px;
	vertical-align: middle;
	border-bottom: 1px dashed #e3bf85;
}

table.form label {
	text-transform: uppercase;
}

table.form label.lower {
	text-transform: lowercase;
}

table.form td.label {
	padding-bottom: 0; 
}

table.form td.left_label {
	width: 150px; 
}

table.form td.left_label2 {
	width: 300px; 
}

input.large {
	width: 400px;
	border: 1px solid #000000;
}

input.middle, select.middle {
	width: 160px;
	border: 1px solid #000000;
}

input.medium, select.medium {
	width: 160px;
	border: 1px solid #000000;
}

input.small, select.small {
	width: 70px;
	border: 1px solid #000000;
}

input.small2, select.small2 {
	width: 100px;
	border: 1px solid #000000;
}

textarea.large {
	width: 502px;
	border: 1px solid #000000;
}

div.message {
	color: #3CB371;
}

div.error {
	color: #FF7F50;
}

table.nostyle {
	background-color: transparent;
}

table.media_box {
	border: 2px solid #b0b0b0;
}
table.media_box td {
	padding: 3px;
	padding-left: 8px;
}

table.media_box_item {
	border: 2px solid #b0b0b0;
}

table.media_box_item td {
	padding: 0;
	margin: 0;
	vertical-align: top;
}

table.media_box_item th {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	background-color: #666666;
}

p.help {
	color: #999999;
}

.tag {
	color: #ffffff;
	font-size: 11px;
}

.dnd {
	border: 1px solid #777777;
	background-color: #f7f7f7;
}

/* BIGTABS */
.bigtabs {
    font-family: Arial, Sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    width: 100%;
    float: left;
    line-height: normal;
}
.bigtabs ul {
    background-color:transparent;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0px;
    padding:10px 10px 0px 5px;
}
.bigtabs li {
    display:inline;
    margin:0px;
    padding:0px;
	cursor: pointer;
}
.bigtabs a {
    background:transparent url(/app/views/admin/images/bigtabs/tableft.gif) no-repeat scroll left top;
    float:left;
    margin:0px 2px 0px 0px;
    padding:0px 0px 0px 4px;
    text-decoration:none;
}
.bigtabs a span {
    background:transparent url(/app/views/admin/images/bigtabs/tabright.gif) no-repeat scroll right top;
    display:block;
    float:left;
    font-weight: bold;
    padding:5px 15px 4px 8px;
}
.bigtabs li.current a span, .bigtabs a:hover span {
    color:#000000;
	cursor: pointer;
}
.bigtabs li.current a, .bigtabs a:hover {
    background-position:0% -42px;
	cursor: pointer;
}
.bigtabs li.current a span, .bigtabs a:hover span {
    background-position:100% -42px;
	cursor: pointer;
}
/* BIGTABS - END */

.border1px {
	border-style: solid;
	border-width: 1px;
}

.border2px {
	border-style: solid;
	border-width: 2px;
}

.feature_ma {
	color: red;
}
.feature_wma {
	color: #000000;
}
select.feature-select {
	width: 200px;
}

.red {
	color: red;
}

.green {
	color: green;
}

div.preview_image {
	position:absolute;
	border: 1px solid #333333;
	cursor: pointer;
	background-color: #ffffff;
	z-index: 200;
}

i.fa {
}
i.fa.fa-desktop {
	color: #336699;
}
i.fa.fa-mobile {
	font-size: 19px;
	color: #cc0000;
}

table.list tr.status1 td, table.list tr.status1 td * {
	color: red;
	font-weight: bold;
}