@font-face {
	font-family: "Micra";
	src: url('micra.eot');
	src: url('micra.eot?#iefix') format('embedded-opentype'),
	url('micra.svg#Micra') format('svg'),
	url('micra.woff') format('woff'),
	url('micra.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
